sample-template.json
[{"id":"7556c719.7d1938","type":"tab","label":"Sample Template","disabled":false,"info":""},{"id":"9e99bcab.ddbf6","type":"subflow","name":"Write to File","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"573b7b68.169584"}]}],"out":[{"x":1260,"y":80,"wires":[{"id":"84301154.9e609","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f3da5730.11ed38","type":"inject","z":"7556c719.7d1938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["47634a6f.011904"]]},{"id":"53dc60f0.4d3b4","type":"data-generator","z":"7556c719.7d1938","name":"Initialize Variables","field":"payload","fieldType":"msg","syntax":"text","template":"{   \n    \"guid\":\"{{guid}}\",\n    \"timestamp\": \"{{date '2019-01-05' '2020-03-05' 'YYYY-MM-DD'}}T{{time '00:00:00' '23:59:59' 'hh:mm:ss'}}Z\",\n    \"name\": \"{{firstName}} {{lastName}}\",\n    \"work\": \"{{company}}\",\n    \"email\": \"{{email}}\",\n    \"address\": \"{{int 1 100}} {{street}}\",\n    \"country\": \"{{country}}\" \n}","x":730,"y":100,"wires":[["585feb13.78a8f4"]]},{"id":"585feb13.78a8f4","type":"json","z":"7556c719.7d1938","name":"to JSON","property":"payload","action":"obj","pretty":true,"x":900,"y":100,"wires":[["4a8686c4.e2dfd8"]]},{"id":"4a8686c4.e2dfd8","type":"function","z":"7556c719.7d1938","name":"increment loop counter","func":"global.set(\"gcount\",global.get(\"gcount\")+1);\n\nmsg.payload.counter = global.get(\"gcount\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":100,"wires":[["c19fdffc.c6d85"]]},{"id":"47634a6f.011904","type":"function","z":"7556c719.7d1938","name":"set Globals","func":"global.set(\"gheaders\",\"yes\");\nglobal.set(\"gcount\",0);             \nglobal.set(\"gfilename\",\"output.csv\");\nglobal.set(\"gmax_loops\",5);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["b707f114.3610d"]]},{"id":"b707f114.3610d","type":"fs-ops-delete","z":"7556c719.7d1938","name":"Delete output file","path":"","pathType":"str","filename":"gfilename","filenameType":"global","x":490,"y":100,"wires":[["53dc60f0.4d3b4"]]},{"id":"c19fdffc.c6d85","type":"function","z":"7556c719.7d1938","name":"Insert Step 1 here","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 1\nmsg.wait_random_max = 10\nmsg.wait_time_ms    = 5000\n\nmsg.payload.step    = \"step1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":200,"wires":[["b59ea21d.b153a"]]},{"id":"94dd5679.756d58","type":"debug","z":"9e99bcab.ddbf6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":300,"wires":[]},{"id":"564b2fc4.288ce","type":"file","z":"9e99bcab.ddbf6","name":"write output file","filename":"output.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":920,"y":180,"wires":[["84301154.9e609"]]},{"id":"7a428d72.2ee894","type":"csv","z":"9e99bcab.ddbf6","name":"to CSV (w/headers)","sep":",","hdrin":true,"hdrout":true,"multi":"one","ret":"\\n","temp":"counter,step,timestamp,name,country,guid","skip":"0","strings":true,"x":690,"y":160,"wires":[["564b2fc4.288ce"]]},{"id":"722c36bc.d8d7e8","type":"csv","z":"9e99bcab.ddbf6","name":"to CSV (no header)","sep":",","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"counter,step,timestamp,name,country,guid","skip":"0","strings":true,"x":690,"y":200,"wires":[["564b2fc4.288ce"]]},{"id":"573b7b68.169584","type":"function","z":"9e99bcab.ddbf6","name":"Increment timestamp","func":"//  Set the timestamp for this step using the msg.wait_time_ms and any needed randomness)\nvar delay = generateRandomNumber(msg.wait_random_min, msg.wait_random_max);\nvar duration_ms = msg.wait_time_ms * delay;  \n\n// for testing set every duration to 1 second, it's easy to view in the debug ;-)\n//duration_ms = 1000;\n\n\n// increment the last timestamp for this step's duration\nvar ts = new Date(msg.payload.timestamp);\nts.setTime( ts.getTime() + (duration_ms) );\n\n// set the msg.payload variables as appropriate\nmsg.payload.timestamp   = ts;\nmsg.payload.duration_ms = duration_ms;\n\n//save the JSON for use later\nmsg.json = msg.payload\n\n// shall we stop?\nif(global.get(\"gcount\")  >  global.get(\"gmax_loops\") )\n{\n    global.set(\"gheaders\",\"stop\");   // we'll use this to decide when to stop processing\n}\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value);\n}\n","outputs":1,"noerr":0,"x":170,"y":180,"wires":[["c08f5059.704cb"]]},{"id":"b59ea21d.b153a","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":410,"y":200,"wires":[["2b41e0c3.4350f"]]},{"id":"2b41e0c3.4350f","type":"function","z":"7556c719.7d1938","name":"Insert Step 2 here","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 1\nmsg.wait_random_max = 10\nmsg.wait_time_ms    = 5000\n\nmsg.payload.step    = \"step2\"\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":200,"wires":[["d27f1b82.293808"]]},{"id":"d27f1b82.293808","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":870,"y":200,"wires":[["cbd18ad1.806908"]]},{"id":"84301154.9e609","type":"function","z":"9e99bcab.ddbf6","name":"reset payload","func":"msg.payload = msg.json;\n\nglobal.set(\"gheaders\",\"no\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":180,"wires":[["94dd5679.756d58"]]},{"id":"c08f5059.704cb","type":"switch","z":"9e99bcab.ddbf6","name":"Write Headers? / Stop?","property":"gheaders","propertyType":"global","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":430,"y":180,"wires":[["7a428d72.2ee894"],["722c36bc.d8d7e8"],[]]},{"id":"42234c04.3431e4","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":490,"y":280,"wires":[["53dc60f0.4d3b4"]]},{"id":"cbd18ad1.806908","type":"function","z":"7556c719.7d1938","name":"Insert Step 3 here","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 1\nmsg.wait_random_max = 10\nmsg.wait_time_ms    = 5000\n\nmsg.payload.step    = \"step3\"\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["42234c04.3431e4"]]}]