retail-order-processing/retail.json
[{"id":"9f4c332c.51f92","type":"tab","label":"Retail Demo","disabled":false,"info":""},{"id":"a680bda.cc2f14","type":"subflow","name":"Do Nothing","info":"","category":"","in":[{"x":280,"y":480,"wires":[]}],"out":[{"x":460,"y":480,"wires":[{"id":"a680bda.cc2f14","port":0}]}]},{"id":"41b35b2f.900d24","type":"subflow","name":"Baggage Area","info":"","category":"","in":[{"x":260,"y":620,"wires":[{"id":"7af44223.f9916c"}]}],"out":[{"x":1040,"y":620,"wires":[{"id":"ea53aba1.48b218","port":0}]}]},{"id":"4d7aa743.41b2f8","type":"subflow","name":"Event to Log (Secure-Area)","info":"","category":"","in":[{"x":520,"y":260,"wires":[{"id":"a2cf0540.e3f028"}]}],"out":[]},{"id":"2a99cc70.367c74","type":"subflow","name":"Check-In Area","info":"","category":"","in":[{"x":220,"y":280,"wires":[{"id":"d62291cc.cbe36"}]}],"out":[{"x":840,"y":280,"wires":[{"id":"9099bfa.b03434","port":0}]}]},{"id":"a8cd2ddf.64b11","type":"subflow","name":"Security Area","info":"","category":"","in":[{"x":180,"y":180,"wires":[{"id":"31d31039.1ca27"}]}],"out":[{"x":1000,"y":180,"wires":[{"id":"23f7ee04.1d1c32","port":0}]}]},{"id":"b732c455.9e6e48","type":"subflow","name":"Enter Departure Hall ","info":"","category":"","in":[{"x":500,"y":100,"wires":[{"id":"b56dfd7e.7446c"}]}],"out":[{"x":900,"y":100,"wires":[{"id":"b56dfd7e.7446c","port":0}]}]},{"id":"7d8ed080.c0f37","type":"subflow","name":"Leave Departure Hall","info":"","category":"","in":[{"x":200,"y":220,"wires":[{"id":"945464af.c60508"}]}],"out":[]},{"id":"65236a72.283514","type":"subflow","name":"Initializing","info":"","category":"","in":[{"x":260,"y":100,"wires":[{"id":"8db762d7.aeb39"}]}],"out":[{"x":980,"y":300,"wires":[{"id":"9351d803.e44f28","port":0}]}]},{"id":"a3d86e5.d33ba9","type":"subflow","name":"Boarding Gate","info":"","category":"","in":[{"x":200,"y":340,"wires":[{"id":"2b704351.f2e75c"}]}],"out":[]},{"id":"c044b32f.35e14","type":"subflow","name":"Frequent Flyer Lounge Area","info":"","category":"","in":[{"x":190,"y":180,"wires":[{"id":"e7ef6271.a0204"}]}],"out":[{"x":950,"y":180,"wires":[{"id":"64104b16.897b54","port":0}]}]},{"id":"85ee0dde.22e85","type":"subflow","name":"Duty Free","info":"","category":"","in":[{"x":220,"y":200,"wires":[{"id":"5e9cef92.d1989"}]}],"out":[{"x":880,"y":200,"wires":[{"id":"851d6e00.1ebda","port":0}]}]},{"id":"a96ed323.8b9d","type":"subflow","name":"Dining Area","info":"","category":"","in":[{"x":240,"y":320,"wires":[{"id":"2f213b21.5117d4"}]}],"out":[{"x":840,"y":320,"wires":[{"id":"f04f0a9b.a3eaf8","port":0}]}]},{"id":"70c8abf3.bbdc54","type":"subflow","name":"Event to Log (Public Area)","info":"","category":"","in":[{"x":240,"y":340,"wires":[{"id":"1ff1f3ca.5a12ec"}]}],"out":[]},{"id":"af248281.3e068","type":"subflow","name":"Event to Log (Security)","info":"var originalPayload = msg.payload;\n\nvar newPayload = {};\nnewPayload._time    = msg.time;\nnewPayload._msgid   = msg._msgid;\nnewPayload.STEP     = msg.STEP;\nnewPayload.LOCATION = msg.LOCATION;\n\nmsg.payload = newPayload\n\n\n\nreturn msg;","category":"","in":[{"x":220,"y":300,"wires":[{"id":"4c130197.8cc86"}]}],"out":[]},{"id":"97fd5056.12cab","type":"subflow","name":"Passport Control","info":"","category":"","in":[{"x":320,"y":280,"wires":[{"id":"50cc51fa.2158"}]}],"out":[{"x":860,"y":280,"wires":[{"id":"50cc51fa.2158","port":0}]}]},{"id":"72fe5953.3d4e98","type":"subflow","name":"toLounge?","info":"","category":"","in":[{"x":200,"y":380,"wires":[{"id":"bd188952.a4fd78"}]}],"out":[{"x":760,"y":320,"wires":[{"id":"97170e17.c93ed","port":0}]},{"x":760,"y":420,"wires":[{"id":"97170e17.c93ed","port":1}]}]},{"id":"b1f45d05.11106","type":"subflow","name":"Subflow 1","info":"","in":[{"x":140,"y":340,"wires":[{"id":"1b254da2.701812"}]}],"out":[{"x":680,"y":340,"wires":[{"id":"1b254da2.701812","port":0}]}]},{"id":"499ad7b5.217898","type":"subflow","name":"Subflow 2","info":"","in":[{"x":180,"y":480,"wires":[{"id":"c3111c44.d6591"}]}],"out":[{"x":760,"y":340,"wires":[{"id":"c3111c44.d6591","port":0}]},{"x":760,"y":540,"wires":[{"id":"c3111c44.d6591","port":0}]}]},{"id":"dbf36e59.d8b5d","type":"subflow","name":"Do Nothing (2)","info":"","category":"","in":[{"x":280,"y":480,"wires":[]}],"out":[{"x":460,"y":480,"wires":[{"id":"dbf36e59.d8b5d","port":0}]}]},{"id":"4bfa1fea.c4c7f","type":"subflow","name":"Baggage Area (2)","info":"","category":"","in":[{"x":260,"y":620,"wires":[{"id":"334f59b4.fa5b76"}]}],"out":[{"x":1040,"y":620,"wires":[{"id":"2d284ca2.5e0c64","port":0}]}]},{"id":"441e6834.2d76c8","type":"subflow","name":"Check-In Area (2)","info":"","category":"","in":[{"x":220,"y":280,"wires":[{"id":"a16fce4e.461fd"}]}],"out":[{"x":840,"y":280,"wires":[{"id":"aff826.61fb87d8","port":0}]}]},{"id":"c304ebca.7f77e8","type":"subflow","name":"Security Area (2)","info":"","category":"","in":[{"x":180,"y":180,"wires":[{"id":"c1eba2ab.074cc"}]}],"out":[{"x":1000,"y":180,"wires":[{"id":"b3716a8d.3bb348","port":0}]}]},{"id":"7b796c3f.aedb24","type":"subflow","name":"Enter Departure Hall  (2)","info":"","category":"","in":[{"x":500,"y":100,"wires":[{"id":"8f1f3b50.419ca8"}]}],"out":[{"x":900,"y":100,"wires":[{"id":"8f1f3b50.419ca8","port":0}]}]},{"id":"aae89082.8b27","type":"subflow","name":"Leave Departure Hall (2)","info":"","category":"","in":[{"x":200,"y":220,"wires":[{"id":"f7a2a711.6454b8"}]}],"out":[]},{"id":"a6e3a5be.534898","type":"subflow","name":"Boarding Gate (2)","info":"","category":"","in":[{"x":200,"y":340,"wires":[{"id":"a7fb49d0.cd62e8"}]}],"out":[]},{"id":"a7815119.95b0a","type":"subflow","name":"Frequent Flyer Lounge Area (2)","info":"","category":"","in":[{"x":190,"y":180,"wires":[{"id":"7e2969c0.53f4f8"}]}],"out":[{"x":950,"y":180,"wires":[{"id":"31e8a89f.aa2408","port":0}]}]},{"id":"f95ec3c8.e28f4","type":"subflow","name":"Duty Free (2)","info":"","category":"","in":[{"x":220,"y":200,"wires":[{"id":"7fcfc778.d782b8"}]}],"out":[{"x":880,"y":200,"wires":[{"id":"8427261a.f952c8","port":0}]}]},{"id":"2bc3ead9.f07486","type":"subflow","name":"Dining Area (2)","info":"","category":"","in":[{"x":240,"y":320,"wires":[{"id":"87bb20ad.a94df"}]}],"out":[{"x":840,"y":320,"wires":[{"id":"768a15a4.ac4d7c","port":0}]}]},{"id":"75c81801.0b4488","type":"subflow","name":"Passport Control (2)","info":"","category":"","in":[{"x":320,"y":280,"wires":[{"id":"7223d796.6cbaa8"}]}],"out":[{"x":860,"y":280,"wires":[{"id":"7223d796.6cbaa8","port":0}]}]},{"id":"989423f6.5b8e9","type":"subflow","name":"Calling Hotline","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"a4c11b14.17b508"}]}],"out":[{"x":1130,"y":270,"wires":[{"id":"74a14142.3e1c7","port":0}]},{"x":1130,"y":360,"wires":[{"id":"74a14142.3e1c7","port":1}]}]},{"id":"840851e5.87c","type":"subflow","name":"Do Nothing (3)","info":"","category":"","in":[{"x":280,"y":480,"wires":[]}],"out":[{"x":460,"y":480,"wires":[{"id":"840851e5.87c","port":0}]}]},{"id":"210c6752.111f18","type":"subflow","name":"Baggage Area (3)","info":"","category":"","in":[{"x":260,"y":620,"wires":[{"id":"129a6011.f9a55"}]}],"out":[{"x":1040,"y":620,"wires":[{"id":"38402d79.0bcb72","port":0}]}]},{"id":"b423bc73.5d20c","type":"subflow","name":"Event to Log (Secure-Area) (2)","info":"","category":"","in":[{"x":410,"y":270,"wires":[{"id":"f978f734.c71128"}]}],"out":[]},{"id":"17bb023d.1ebc9e","type":"subflow","name":"Check-In Area (3)","info":"","category":"","in":[{"x":220,"y":280,"wires":[{"id":"fc6e9a05.70b4e8"}]}],"out":[{"x":840,"y":280,"wires":[{"id":"f722d564.493718","port":0}]}]},{"id":"b2c996ce.43a108","type":"subflow","name":"Security Area (3)","info":"","category":"","in":[{"x":180,"y":180,"wires":[{"id":"6ddba89c.1ef6a8"}]}],"out":[{"x":1000,"y":180,"wires":[{"id":"b96c4126.4e263","port":0}]}]},{"id":"9094e70a.e111c8","type":"subflow","name":"Enter Departure Hall  (3)","info":"","category":"","in":[{"x":500,"y":100,"wires":[{"id":"ba7da52e.137238"}]}],"out":[{"x":900,"y":100,"wires":[{"id":"ba7da52e.137238","port":0}]}]},{"id":"3bfc440c.42112c","type":"subflow","name":"Leave Departure Hall (3)","info":"","category":"","in":[{"x":200,"y":220,"wires":[{"id":"b1788537.9441e8"}]}],"out":[]},{"id":"3b2400c4.acef1","type":"subflow","name":"Boarding Gate (3)","info":"","category":"","in":[{"x":200,"y":340,"wires":[{"id":"8ce47869.b3bdb8"}]}],"out":[]},{"id":"42c51b98.572334","type":"subflow","name":"Frequent Flyer Lounge Area (3)","info":"","category":"","in":[{"x":190,"y":180,"wires":[{"id":"e75593d8.4c5cb"}]}],"out":[{"x":950,"y":180,"wires":[{"id":"5f11e69f.6e3e58","port":0}]}]},{"id":"1cbe7f36.77d9f1","type":"subflow","name":"Duty Free (3)","info":"","category":"","in":[{"x":220,"y":200,"wires":[{"id":"73edcc10.9c8464"}]}],"out":[{"x":880,"y":200,"wires":[{"id":"6f4248a5.1fd128","port":0}]}]},{"id":"73c12b60.bc01e4","type":"subflow","name":"Dining Area (3)","info":"","category":"","in":[{"x":240,"y":320,"wires":[{"id":"22bfe5d0.7f454a"}]}],"out":[{"x":840,"y":320,"wires":[{"id":"55382dbc.014a84","port":0}]}]},{"id":"47194c53.b53f54","type":"subflow","name":"Event to Log (Public Area) (2)","info":"","category":"","in":[{"x":240,"y":340,"wires":[{"id":"691839f7.102838"}]}],"out":[]},{"id":"5cfabf76.b8a5e","type":"subflow","name":"Event to Log (Security) (2)","info":"var originalPayload = msg.payload;\n\nvar newPayload = {};\nnewPayload._time    = msg.time;\nnewPayload._msgid   = msg._msgid;\nnewPayload.STEP     = msg.STEP;\nnewPayload.LOCATION = msg.LOCATION;\n\nmsg.payload = newPayload\n\n\n\nreturn msg;","category":"","in":[{"x":220,"y":300,"wires":[{"id":"56b0293b.cc6558"}]}],"out":[]},{"id":"9de676a0.4fcdc8","type":"subflow","name":"Passport Control (3)","info":"","category":"","in":[{"x":320,"y":280,"wires":[{"id":"d0f2a2ac.1b62f"}]}],"out":[{"x":860,"y":280,"wires":[{"id":"d0f2a2ac.1b62f","port":0}]}]},{"id":"3d5034ff.69fedc","type":"subflow","name":"RD - Order Fullfillment","info":"","category":"Retail Demo","in":[{"x":40,"y":60,"wires":[{"id":"9a16b5c8.c47ba8"}]}],"out":[{"x":1540,"y":600,"wires":[{"id":"e28c91bb.8b25","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a68c337.ac348d","type":"subflow","name":"RD - Delivery","info":"","category":"Retail Demo","in":[{"x":80,"y":140,"wires":[{"id":"6ca97316.917f2c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"8e826397.79246","type":"subflow","name":"Write to CSV","info":"","category":"Retail Demo","in":[{"x":120,"y":140,"wires":[{"id":"6a2dadf3.944734"}]}],"out":[{"x":860,"y":60,"wires":[{"id":"7cdf3ce0.f51bd4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"67b43599.32cc2c","type":"subflow","name":"Product Selection Process","info":"","category":"Retail Demo","in":[{"x":80,"y":60,"wires":[{"id":"e9c42016.5ac7a"}]}],"out":[{"x":1100,"y":780,"wires":[{"id":"e14c4619.64eab8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f16eab4e.a11b28","type":"subflow","name":"Process Payment","info":"","category":"Retail Demo","in":[{"x":80,"y":140,"wires":[{"id":"782af5e.e95920c"}]}],"out":[{"x":1640,"y":300,"wires":[{"id":"be2dfff4.befb4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"27d2cb9c.1a7874","type":"subflow","name":"Pay by CreditCard","info":"","category":"Retail Demo","in":[{"x":60,"y":80,"wires":[{"id":"474d1a22.1bc7d4"}]}],"out":[{"x":1540,"y":80,"wires":[{"id":"3790c15.1b0a73e","port":"1"}]}],"env":[],"color":"#DDAA99"},{"id":"4af24f6a.0b0e","type":"subflow","name":"Do Nothing (2) (2)","info":"","category":"","in":[{"x":280,"y":480,"wires":[]}],"out":[{"x":460,"y":480,"wires":[{"id":"4af24f6a.0b0e","port":0}]}]},{"id":"9c277c87.588a1","type":"subflow","name":"Baggage Area (2) (2)","info":"","category":"","in":[{"x":260,"y":620,"wires":[{"id":"38961653.9887da"}]}],"out":[{"x":1040,"y":620,"wires":[{"id":"539394b2.1c219c","port":0}]}]},{"id":"7c3c5f97.a4978","type":"subflow","name":"Check-In Area (2) (2)","info":"","category":"","in":[{"x":220,"y":280,"wires":[{"id":"ebc7a6d2.ef7c88"}]}],"out":[{"x":840,"y":280,"wires":[{"id":"b5041cf5.75014","port":0}]}]},{"id":"3853ec92.270dc4","type":"subflow","name":"Security Area (2) (2)","info":"","category":"","in":[{"x":180,"y":180,"wires":[{"id":"64f288da.190478"}]}],"out":[{"x":1000,"y":180,"wires":[{"id":"3b758619.cf9b6a","port":0}]}]},{"id":"ead1c725.60fbc8","type":"subflow","name":"Enter Departure Hall  (2) (2)","info":"","category":"","in":[{"x":500,"y":100,"wires":[{"id":"9df8112d.d6195"}]}],"out":[{"x":900,"y":100,"wires":[{"id":"9df8112d.d6195","port":0}]}]},{"id":"884a0795.6ba4f8","type":"subflow","name":"Leave Departure Hall (2) (2)","info":"","category":"","in":[{"x":200,"y":220,"wires":[{"id":"1a24cce3.28d253"}]}],"out":[]},{"id":"dd8336a1.07fa98","type":"subflow","name":"Boarding Gate (2) (2)","info":"","category":"","in":[{"x":200,"y":340,"wires":[{"id":"224ccdc0.3c99f2"}]}],"out":[]},{"id":"94c81d5c.a1218","type":"subflow","name":"Frequent Flyer Lounge Area (2) (2)","info":"","category":"","in":[{"x":190,"y":180,"wires":[{"id":"1c1e6c86.9fd563"}]}],"out":[{"x":950,"y":180,"wires":[{"id":"e1fdac91.ed132","port":0}]}]},{"id":"bddbf6be.541348","type":"subflow","name":"Duty Free (2) (2)","info":"","category":"","in":[{"x":220,"y":200,"wires":[{"id":"22711663.cbcb7a"}]}],"out":[{"x":880,"y":200,"wires":[{"id":"8fbd9872.cda8e8","port":0}]}]},{"id":"e286dc36.7c451","type":"subflow","name":"Dining Area (2) (2)","info":"","category":"","in":[{"x":240,"y":320,"wires":[{"id":"f801422a.48bd5"}]}],"out":[{"x":840,"y":320,"wires":[{"id":"5b6fd184.88eab","port":0}]}]},{"id":"15125294.a2f03d","type":"subflow","name":"Passport Control (2) (2)","info":"","category":"","in":[{"x":320,"y":280,"wires":[{"id":"c858c41.3f91838"}]}],"out":[{"x":860,"y":280,"wires":[{"id":"c858c41.3f91838","port":0}]}]},{"id":"ac056000.4c12e","type":"subflow","name":"Do Nothing (3) (2)","info":"","category":"","in":[{"x":280,"y":480,"wires":[]}],"out":[{"x":460,"y":480,"wires":[{"id":"ac056000.4c12e","port":0}]}]},{"id":"9be6e393.fea5","type":"subflow","name":"Baggage Area (3) (2)","info":"","category":"","in":[{"x":260,"y":620,"wires":[{"id":"a6fc9af5.f4a2f8"}]}],"out":[{"x":1040,"y":620,"wires":[{"id":"2456df62.92318","port":0}]}]},{"id":"4258b997.e1b158","type":"subflow","name":"Check-In Area (3) (2)","info":"","category":"","in":[{"x":220,"y":280,"wires":[{"id":"fecafe2.6927"}]}],"out":[{"x":840,"y":280,"wires":[{"id":"841ce8e2.5caf58","port":0}]}]},{"id":"1fed8172.c2ac2f","type":"subflow","name":"Security Area (3) (2)","info":"","category":"","in":[{"x":180,"y":180,"wires":[{"id":"56e2bb1e.536334"}]}],"out":[{"x":1000,"y":180,"wires":[{"id":"fb005b53.6a9778","port":0}]}]},{"id":"c54a9d24.2155","type":"subflow","name":"Enter Departure Hall  (3) (2)","info":"","category":"","in":[{"x":500,"y":100,"wires":[{"id":"2f9003f0.92392c"}]}],"out":[{"x":900,"y":100,"wires":[{"id":"2f9003f0.92392c","port":0}]}]},{"id":"18fe684b.055bc8","type":"subflow","name":"Leave Departure Hall (3) (2)","info":"","category":"","in":[{"x":200,"y":220,"wires":[{"id":"5f2e973e.b139f8"}]}],"out":[]},{"id":"f41521e0.3dda2","type":"subflow","name":"Boarding Gate (3) (2)","info":"","category":"","in":[{"x":200,"y":340,"wires":[{"id":"ee4070e2.a6899"}]}],"out":[]},{"id":"aa4b930d.8f4a1","type":"subflow","name":"Frequent Flyer Lounge Area (3) (2)","info":"","category":"","in":[{"x":190,"y":180,"wires":[{"id":"a6b5865a.e45378"}]}],"out":[{"x":950,"y":180,"wires":[{"id":"39bfdc36.f38804","port":0}]}]},{"id":"45536a77.7f3f14","type":"subflow","name":"Duty Free (3) (2)","info":"","category":"","in":[{"x":220,"y":200,"wires":[{"id":"aafc43a6.faf68"}]}],"out":[{"x":880,"y":200,"wires":[{"id":"5d091acf.5bd964","port":0}]}]},{"id":"8d3f68a5.e19158","type":"subflow","name":"Dining Area (3) (2)","info":"","category":"","in":[{"x":240,"y":320,"wires":[{"id":"fb3b3c43.c0ea1"}]}],"out":[{"x":840,"y":320,"wires":[{"id":"7b11e9d1.a6dcd8","port":0}]}]},{"id":"150deed3.2751f1","type":"subflow","name":"Passport Control (3) (2)","info":"","category":"","in":[{"x":320,"y":280,"wires":[{"id":"eadb96d3.ae7f08"}]}],"out":[{"x":860,"y":280,"wires":[{"id":"eadb96d3.ae7f08","port":0}]}]},{"id":"b381444b.015aa8","type":"subflow","name":"-> CSV [Shipping]","info":"","category":"Retail Demo","in":[{"x":470,"y":300,"wires":[{"id":"339a335.989a4cc"}]}],"out":[]},{"id":"7587ee11.aa269","type":"subflow","name":"-> CSV [Online Shopping]","info":"","category":"Retail Demo","in":[{"x":230,"y":120,"wires":[{"id":"d5d0488c.c9e678"}]}],"out":[]},{"id":"14635859.ef9c28","type":"subflow","name":"-> CSV [Warehouse]","info":"","category":"Retail Demo","in":[{"x":140,"y":150,"wires":[{"id":"ae004c29.7ffc6"}]}],"out":[]},{"id":"3a2a8b1a.4b7394","type":"subflow","name":"Pay with PayPal","info":"","category":"Retail Demo","in":[{"x":700,"y":450,"wires":[{"id":"cd78c784.27e6e8"}]}],"out":[{"x":1020,"y":450,"wires":[{"id":"cd78c784.27e6e8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"10c44a3.64f0db6","type":"subflow","name":"RD - Online Shopping","info":"","category":"Retail Demo","in":[{"x":40,"y":60,"wires":[{"id":"fcbfe87a.848218"}]}],"out":[{"x":1480,"y":160,"wires":[{"id":"5e9854ea.2dbb7c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b56dfd7e.7446c","type":"function","z":"b732c455.9e6e48","name":"Enter Departure Hall","func":"var terminal = 1\n\nmsg.STEP     = \"ENTER Departure Hall\"\nmsg.LOCATION = \"Terminal 1\"\n\nvar year  = 2018\nvar month = generateRandomNumber(1,12)\n\nif(month==1 || month==3 ||month==5 || month==7 || month==9 || month==10 || month==12)\n  day=generateRandomNumber(1,31)\nelse if (month==2)\n    day = generateRandomNumber(1,28)\nelse\n    day = generateRandomNumber(1,30)\n    \nvar hour   = generateRandomNumber(5,20)\nvar minute = generateRandomNumber(0,59)\n  \n\nmsg.time = new Date(year, month, day, hour, minute,0)\n\n\nvar count=context.get('count') || 0;\n\nmsg.destination  = msg.payload % 10\nmsg.lounge       = generateRandomNumber(0,9)\nmsg.duty_free    = generateRandomNumber(0,9)\nmsg.dining       = generateRandomNumber(0,9)\n\ntraffic_low_factor   = 1\ntraffic_peek_factor  = 3\ntraffic_std_factor   = 2\ntraffic_factor       = 0\n\nif(generateRandomNumber(0,9) == 1 || generateRandomNumber(0,9) == 2){\n    \n   msg.passport_control = 1 \n}\n\n\nhour = msg.time.getHours()\n\n\nswitch(hour) {\n  case 8:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 9:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 10:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 17:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 18:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 19:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 11:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  case 12:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  case 13:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  default:\n    msg.traffic_factor = traffic_std_factor;\n}\n\n\nreturn msg;\n\n\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}\n\n\n","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["d4a63056.e1d76"]]},{"id":"8db762d7.aeb39","type":"function","z":"65236a72.283514","name":"Set Time","func":"\n\n\n\nreturn msg;\n\n\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":640,"y":100,"wires":[["9351d803.e44f28"]]},{"id":"8f3b3970.3439d8","type":"file","z":"4d7aa743.41b2f8","name":"airport-total","filename":"/Users/dirkb/Temp/airport-total.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1210,"y":260,"wires":[[]]},{"id":"a2cf0540.e3f028","type":"function","z":"4d7aa743.41b2f8","name":"Prepare CSV","func":"var originalPayload = msg.payload;\n\nvar newPayload = {};\nnewPayload._time    = msg.time;\nnewPayload._msgid   = msg._msgid;\nnewPayload.STEP     = msg.STEP;\nnewPayload.LOCATION = msg.LOCATION;\nnewPayload.GATE     = msg.GATE;\n\nmsg.payload = newPayload\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":260,"wires":[["47c1b31a.7ec5ac","1873d0d4.ba86bf"]]},{"id":"31d31039.1ca27","type":"function","z":"a8cd2ddf.64b11","name":"Enter Security Lane","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Security Lane\"\nmsg.LOCATION = \"SEC-LANE-5\"\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["13846502.1cef8b","ca296340.11c1"]]},{"id":"13846502.1cef8b","type":"function","z":"a8cd2ddf.64b11","name":"Enter Security","func":"\n// Time in station\n\ndiff     = 8\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Security Check\"\nmsg.LOCATION = \"SEC-POS-2\"\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":180,"wires":[["23f7ee04.1d1c32","ca296340.11c1"]]},{"id":"23f7ee04.1d1c32","type":"function","z":"a8cd2ddf.64b11","name":"Leave Security","func":"\n// Time in station\n\ndiff     = 2\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Security Check\"\nmsg.LOCATION = \"SEC-POS-2\"\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":180,"wires":[["ca296340.11c1"]]},{"id":"d62291cc.cbe36","type":"function","z":"2a99cc70.367c74","name":"Enter Check-In Area","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Check-In Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["9099bfa.b03434","d85a05dd.e6ddd8"]]},{"id":"9099bfa.b03434","type":"function","z":"2a99cc70.367c74","name":"Leave Check-In Area","func":"\n// Time to station\n\ndiff     = 6\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Check-In Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["d85a05dd.e6ddd8"]]},{"id":"e7ef6271.a0204","type":"function","z":"c044b32f.35e14","name":"Enter Frequent Flyer Lounge","func":"\n// Time to station\n\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Frequent Flyer Lounge\"\nmsg.LOCATION = \"Terminal 1\"\n\nvar wasAtLounge = \"yes\"\n\nmsg.wasAtLounge = wasAtLounge\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["64104b16.897b54","6c34fa1d.9877d4"]]},{"id":"64104b16.897b54","type":"function","z":"c044b32f.35e14","name":"Leave Frequent Flyer Lounge","func":"\n// Time in station\n\ndiff     = 25\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Frequent Flyer Lounge\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":180,"wires":[["6c34fa1d.9877d4"]]},{"id":"2b704351.f2e75c","type":"function","z":"a3d86e5.d33ba9","name":"Arrive Boarding Gate","func":"\n// Time to station\n\ndiff     = 6\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Bording Gate Area\";\n\n\nmsg.LOCATION = \"Terminal 1\"\n\n\nif(msg.LOCATION == \"Terminal 1\"){\n    var rnd = generateRandomNumber(0,100)\n    if(rnd>66){\n        var area = \"A\";\n     } else {\n        var area = \"B\";\n     }   \n    msg.GATE = area + generateRandomNumber(1,20).toString();\n } else {\n    msg.GATE = \"C\" + generateRandomNumber(1,30).toString();\n }\n\n\nvar deniedBoarding = generateRandomNumber(1,1000)\nif(deniedBoarding > 998)\n    msg.deniedBoarding = 1;\nelse \n    msg.deniedBoarding = 0;\n\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["53d33a26.17cd44","f145e3e8.9a134"]]},{"id":"403e761f.7c7548","type":"function","z":"a3d86e5.d33ba9","name":"Board Flight","func":"\n// Time to station\n\ndiff     = 20\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"BOARD Aircraft\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["53d33a26.17cd44"]]},{"id":"7af44223.f9916c","type":"function","z":"41b35b2f.900d24","name":"Enter Baggage-Drop Area","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Baggage-Drop Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":620,"wires":[["ea53aba1.48b218","fb18d4f1.2629b8"]]},{"id":"ea53aba1.48b218","type":"function","z":"41b35b2f.900d24","name":"Leave Baggage-Drop Area","func":"\n// Time in station\n\ndiff     = 3\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Baggage-Drop Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":620,"wires":[["fb18d4f1.2629b8"]]},{"id":"9351d803.e44f28","type":"function","z":"65236a72.283514","name":"Passenger Path Selector","func":"\n\nmsg.wasAtLounge = \"no\"\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":790,"y":320,"wires":[[]]},{"id":"945464af.c60508","type":"function","z":"7d8ed080.c0f37","name":"Leave Departure Hall (Non-PAX)","func":"\n\n// Time to station\n\ndiff     = 10\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVING Departure Hall\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["f1628021.71f61"]]},{"id":"53d33a26.17cd44","type":"subflow:4d7aa743.41b2f8","z":"a3d86e5.d33ba9","name":"","x":1140,"y":440,"wires":[]},{"id":"6c34fa1d.9877d4","type":"subflow:4d7aa743.41b2f8","z":"c044b32f.35e14","name":"","x":1020,"y":240,"wires":[]},{"id":"5e9cef92.d1989","type":"function","z":"85ee0dde.22e85","name":"Enter Duty Free","func":"\n// Time to station\n\ndiff     = 3\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Duty Free Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["851d6e00.1ebda","92a47275.65ded"]]},{"id":"851d6e00.1ebda","type":"function","z":"85ee0dde.22e85","name":"Leave Duty Free","func":"\n// Time in station\n\ndiff     = 4\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Duty Free Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":200,"wires":[["92a47275.65ded"]]},{"id":"92a47275.65ded","type":"subflow:4d7aa743.41b2f8","z":"85ee0dde.22e85","name":"","x":950,"y":260,"wires":[]},{"id":"2f213b21.5117d4","type":"function","z":"a96ed323.8b9d","name":"Enter Dining Area","func":"\n// Time to station\n\ndiff     = 8\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Dining Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["f04f0a9b.a3eaf8","1b400e8d.13f0d1"]]},{"id":"f04f0a9b.a3eaf8","type":"function","z":"a96ed323.8b9d","name":"Leave Dining Area","func":"\n// Time to station\n\ndiff     = 25\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Dining Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["1b400e8d.13f0d1"]]},{"id":"1b400e8d.13f0d1","type":"subflow:4d7aa743.41b2f8","z":"a96ed323.8b9d","name":"","x":920,"y":460,"wires":[]},{"id":"e00c82ac.c8bf5","type":"file","z":"4d7aa743.41b2f8","name":"airport-secure-area","filename":"/Users/dirkb/Temp/airport-secure-area.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1270,"y":340,"wires":[[]]},{"id":"1ff1f3ca.5a12ec","type":"function","z":"70c8abf3.bbdc54","name":"Prepare CSV","func":"var originalPayload = msg.payload;\n\nvar newPayload = {};\nnewPayload._time    = msg.time;\nnewPayload._msgid   = msg._msgid;\nnewPayload.STEP     = msg.STEP;\nnewPayload.LOCATION = msg.LOCATION;\n\nmsg.payload = newPayload\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":340,"wires":[["d627861c.515018"]],"outputLabels":["airport-toal"]},{"id":"d4a63056.e1d76","type":"subflow:70c8abf3.bbdc54","z":"b732c455.9e6e48","name":"","x":990,"y":160,"wires":[]},{"id":"b6b5dcfc.0e401","type":"file","z":"70c8abf3.bbdc54","name":"airport-total","filename":"/Users/dirkb/Temp/airport-total.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":950,"y":340,"wires":[[]]},{"id":"5766806b.93554","type":"file","z":"70c8abf3.bbdc54","name":"airport-public-area","filename":"/Users/dirkb/Temp/airport-public-area.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":970,"y":400,"wires":[[]]},{"id":"f1628021.71f61","type":"subflow:70c8abf3.bbdc54","z":"7d8ed080.c0f37","name":"","x":750,"y":220,"wires":[]},{"id":"4c130197.8cc86","type":"function","z":"af248281.3e068","name":"Prepare CSV","func":"var originalPayload = msg.payload;\n\nvar newPayload = {};\nnewPayload._time    = msg.time;\nnewPayload._msgid   = msg._msgid;\nnewPayload.STEP     = msg.STEP;\nnewPayload.LOCATION = msg.LOCATION;\n\nmsg.payload = newPayload\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["a7bd1365.6f4a1"]]},{"id":"54cf4ade.2f24a4","type":"file","z":"af248281.3e068","name":"airport-security","filename":"/Users/dirkb/Temp/airport-security.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":960,"y":320,"wires":[[]]},{"id":"10bf634.ae5609d","type":"file","z":"af248281.3e068","name":"airport-total","filename":"/Users/dirkb/Temp/airport-total.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":950,"y":220,"wires":[[]]},{"id":"ca296340.11c1","type":"subflow:af248281.3e068","z":"a8cd2ddf.64b11","name":"","x":1080,"y":280,"wires":[]},{"id":"47c1b31a.7ec5ac","type":"function","z":"4d7aa743.41b2f8","name":"Prepare CSV","func":"var originalPayload = msg.payload;\n\nvar newPayload = {};\nnewPayload._time    = msg.time;\nnewPayload.pax_id   = msg._msgid;\nnewPayload.STEP     = msg.STEP;\nnewPayload.LOCATION = msg.LOCATION;\nnewPayload.GATE     = msg.GATE;\n\nmsg.payload = newPayload\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":340,"wires":[["5458d76.10dcb28"]]},{"id":"50cc51fa.2158","type":"function","z":"97fd5056.12cab","name":"Passport Control","func":"\n// Time to station\n\ndiff     = 2\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"Passport Control\"\nmsg.LOCATION = \"Border-Control Booth 1\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["4e1565eb.8d897c"]]},{"id":"4e1565eb.8d897c","type":"subflow:4d7aa743.41b2f8","z":"97fd5056.12cab","name":"","x":960,"y":340,"wires":[]},{"id":"fb18d4f1.2629b8","type":"subflow:70c8abf3.bbdc54","z":"41b35b2f.900d24","name":"","x":1130,"y":700,"wires":[]},{"id":"d85a05dd.e6ddd8","type":"subflow:70c8abf3.bbdc54","z":"2a99cc70.367c74","name":"","x":930,"y":360,"wires":[]},{"id":"f145e3e8.9a134","type":"switch","z":"a3d86e5.d33ba9","name":"","property":"deniedBoarding","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":220,"wires":[["35966b84.324184"],["403e761f.7c7548"]]},{"id":"35966b84.324184","type":"function","z":"a3d86e5.d33ba9","name":"Denied Boarding","func":"\n// Time to station\n\ndiff     = 20\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"Leave Secure Area (Flight missed / Denied Boarding)\"\nmsg.LOCATION = \"Terminal 1\"\nmsg.Gate     = msg.Gate\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":220,"wires":[["53d33a26.17cd44"]]},{"id":"bd188952.a4fd78","type":"function","z":"72fe5953.3d4e98","name":"willVisitLounge","func":"\nvar willVisitLounge = \"no\" \n\nvar x = generateRandomNumber(0,100)\n\nif(x > 60 && msg.wasAtLounge != \"yes\"){\n    \n   willVisitLounge = \"yes\" \n}\n\nmsg.willVisitLounge = willVisitLounge\nmsg.x = x\n\nreturn msg;\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["97170e17.c93ed"]]},{"id":"97170e17.c93ed","type":"switch","z":"72fe5953.3d4e98","name":"to Lounge?","property":"willVisitLounge","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":380,"wires":[[],[]]},{"id":"e3160b92.501dd8","type":"debug","z":"72fe5953.3d4e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"x","x":760,"y":140,"wires":[]},{"id":"3198228c.00a23e","type":"debug","z":"72fe5953.3d4e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"willVisitLounge","x":780,"y":200,"wires":[]},{"id":"fa789451.f32f68","type":"debug","z":"72fe5953.3d4e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"wasAtLounge","x":780,"y":260,"wires":[]},{"id":"1b254da2.701812","type":"function","z":"b1f45d05.11106","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":340,"wires":[[]]},{"id":"c3111c44.d6591","type":"function","z":"499ad7b5.217898","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":440,"wires":[[]]},{"id":"d627861c.515018","type":"csv","z":"70c8abf3.bbdc54","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\r","temp":"_time, _msgid, STEP, LOCATION, GATE","skip":"0","x":700,"y":260,"wires":[["b6b5dcfc.0e401","5766806b.93554"]]},{"id":"a7bd1365.6f4a1","type":"csv","z":"af248281.3e068","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\r","temp":"_time, _msgid, STEP, LOCATION, GATE","skip":"0","x":680,"y":240,"wires":[["10bf634.ae5609d","54cf4ade.2f24a4"]]},{"id":"1873d0d4.ba86bf","type":"csv","z":"4d7aa743.41b2f8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\r","temp":"_time, _msgid, STEP, LOCATION, GATE","skip":"0","x":920,"y":180,"wires":[["8f3b3970.3439d8"]]},{"id":"5458d76.10dcb28","type":"csv","z":"4d7aa743.41b2f8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\r","temp":"_time, pax_id, STEP, LOCATION, GATE","skip":"0","x":1060,"y":360,"wires":[["e00c82ac.c8bf5"]]},{"id":"8f1f3b50.419ca8","type":"function","z":"7b796c3f.aedb24","name":"Enter Departure Hall","func":"var terminal = 1\n\nmsg.STEP     = \"ENTER Departure Hall\"\nmsg.LOCATION = \"Terminal 1\"\n\nvar year  = 2018\nvar month = generateRandomNumber(1,12)\n\nif(month==1 || month==3 ||month==5 || month==7 || month==9 || month==10 || month==12)\n  day=generateRandomNumber(1,31)\nelse if (month==2)\n    day = generateRandomNumber(1,28)\nelse\n    day = generateRandomNumber(1,30)\n    \nvar hour   = generateRandomNumber(5,20)\nvar minute = generateRandomNumber(0,59)\n  \n\nmsg.time = new Date(year, month, day, hour, minute,0)\n\n\nvar count=context.get('count') || 0;\n\nmsg.destination  = msg.payload % 10\nmsg.lounge       = generateRandomNumber(0,9)\nmsg.duty_free    = generateRandomNumber(0,9)\nmsg.dining       = generateRandomNumber(0,9)\n\ntraffic_low_factor   = 1\ntraffic_peek_factor  = 3\ntraffic_std_factor   = 2\ntraffic_factor       = 0\n\nif(generateRandomNumber(0,9) == 1 || generateRandomNumber(0,9) == 2){\n    \n   msg.passport_control = 1 \n}\n\n\nhour = msg.time.getHours()\n\n\nswitch(hour) {\n  case 8:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 9:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 10:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 17:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 18:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 19:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 11:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  case 12:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  case 13:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  default:\n    msg.traffic_factor = traffic_std_factor;\n}\n\n\nreturn msg;\n\n\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}\n\n\n","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["6648105c.4ba91"]]},{"id":"c1eba2ab.074cc","type":"function","z":"c304ebca.7f77e8","name":"Enter Security Lane","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Security Lane\"\nmsg.LOCATION = \"SEC-LANE-5\"\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["34ed20f4.fe4f9","9b0c2bc2.045c18"]]},{"id":"34ed20f4.fe4f9","type":"function","z":"c304ebca.7f77e8","name":"Enter Security","func":"\n// Time in station\n\ndiff     = 8\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Security Check\"\nmsg.LOCATION = \"SEC-POS-2\"\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":180,"wires":[["b3716a8d.3bb348","9b0c2bc2.045c18"]]},{"id":"b3716a8d.3bb348","type":"function","z":"c304ebca.7f77e8","name":"Leave Security","func":"\n// Time in station\n\ndiff     = 2\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Security Check\"\nmsg.LOCATION = \"SEC-POS-2\"\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":180,"wires":[["9b0c2bc2.045c18"]]},{"id":"a16fce4e.461fd","type":"function","z":"441e6834.2d76c8","name":"Enter Check-In Area","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Check-In Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["aff826.61fb87d8","20d39f27.b2123"]]},{"id":"aff826.61fb87d8","type":"function","z":"441e6834.2d76c8","name":"Leave Check-In Area","func":"\n// Time to station\n\ndiff     = 6\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Check-In Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["20d39f27.b2123"]]},{"id":"7e2969c0.53f4f8","type":"function","z":"a7815119.95b0a","name":"Enter Frequent Flyer Lounge","func":"\n// Time to station\n\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Frequent Flyer Lounge\"\nmsg.LOCATION = \"Terminal 1\"\n\nvar wasAtLounge = \"yes\"\n\nmsg.wasAtLounge = wasAtLounge\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["31e8a89f.aa2408","461ce31e.c8d46c"]]},{"id":"31e8a89f.aa2408","type":"function","z":"a7815119.95b0a","name":"Leave Frequent Flyer Lounge","func":"\n// Time in station\n\ndiff     = 25\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Frequent Flyer Lounge\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":180,"wires":[["461ce31e.c8d46c"]]},{"id":"a7fb49d0.cd62e8","type":"function","z":"a6e3a5be.534898","name":"Arrive Boarding Gate","func":"\n// Time to station\n\ndiff     = 6\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Bording Gate Area\";\n\n\nmsg.LOCATION = \"Terminal 1\"\n\n\nif(msg.LOCATION == \"Terminal 1\"){\n    var rnd = generateRandomNumber(0,100)\n    if(rnd>66){\n        var area = \"A\";\n     } else {\n        var area = \"B\";\n     }   \n    msg.GATE = area + generateRandomNumber(1,20).toString();\n } else {\n    msg.GATE = \"C\" + generateRandomNumber(1,30).toString();\n }\n\n\nvar deniedBoarding = generateRandomNumber(1,1000)\nif(deniedBoarding > 998)\n    msg.deniedBoarding = 1;\nelse \n    msg.deniedBoarding = 0;\n\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["c718de5f.86603","53d36bca.5f7c74"]]},{"id":"4ea2b1b2.1395","type":"function","z":"a6e3a5be.534898","name":"Board Flight","func":"\n// Time to station\n\ndiff     = 20\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"BOARD Aircraft\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["c718de5f.86603"]]},{"id":"334f59b4.fa5b76","type":"function","z":"4bfa1fea.c4c7f","name":"Enter Baggage-Drop Area","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Baggage-Drop Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":620,"wires":[["2d284ca2.5e0c64","76260d05.7c1394"]]},{"id":"2d284ca2.5e0c64","type":"function","z":"4bfa1fea.c4c7f","name":"Leave Baggage-Drop Area","func":"\n// Time in station\n\ndiff     = 3\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Baggage-Drop Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":620,"wires":[["76260d05.7c1394"]]},{"id":"f7a2a711.6454b8","type":"function","z":"aae89082.8b27","name":"Leave Departure Hall (Non-PAX)","func":"\n\n// Time to station\n\ndiff     = 10\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVING Departure Hall\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["7cb0be3f.fc724"]]},{"id":"c718de5f.86603","type":"subflow:4d7aa743.41b2f8","z":"a6e3a5be.534898","name":"","x":1140,"y":440,"wires":[]},{"id":"461ce31e.c8d46c","type":"subflow:4d7aa743.41b2f8","z":"a7815119.95b0a","name":"","x":1020,"y":240,"wires":[]},{"id":"7fcfc778.d782b8","type":"function","z":"f95ec3c8.e28f4","name":"Enter Duty Free","func":"\n// Time to station\n\ndiff     = 3\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Duty Free Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["8427261a.f952c8","23200caa.e68304"]]},{"id":"8427261a.f952c8","type":"function","z":"f95ec3c8.e28f4","name":"Leave Duty Free","func":"\n// Time in station\n\ndiff     = 4\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Duty Free Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":200,"wires":[["23200caa.e68304"]]},{"id":"23200caa.e68304","type":"subflow:4d7aa743.41b2f8","z":"f95ec3c8.e28f4","name":"","x":950,"y":260,"wires":[]},{"id":"87bb20ad.a94df","type":"function","z":"2bc3ead9.f07486","name":"Enter Dining Area","func":"\n// Time to station\n\ndiff     = 8\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Dining Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["768a15a4.ac4d7c","5440e7b.3045218"]]},{"id":"768a15a4.ac4d7c","type":"function","z":"2bc3ead9.f07486","name":"Leave Dining Area","func":"\n// Time to station\n\ndiff     = 25\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Dining Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["5440e7b.3045218"]]},{"id":"5440e7b.3045218","type":"subflow:4d7aa743.41b2f8","z":"2bc3ead9.f07486","name":"","x":920,"y":460,"wires":[]},{"id":"6648105c.4ba91","type":"subflow:70c8abf3.bbdc54","z":"7b796c3f.aedb24","name":"","x":990,"y":160,"wires":[]},{"id":"7cb0be3f.fc724","type":"subflow:70c8abf3.bbdc54","z":"aae89082.8b27","name":"","x":750,"y":220,"wires":[]},{"id":"9b0c2bc2.045c18","type":"subflow:af248281.3e068","z":"c304ebca.7f77e8","name":"","x":1080,"y":280,"wires":[]},{"id":"7223d796.6cbaa8","type":"function","z":"75c81801.0b4488","name":"Passport Control","func":"\n// Time to station\n\ndiff     = 2\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"Passport Control\"\nmsg.LOCATION = \"Border-Control Booth 1\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["31c3d2c1.1001ae"]]},{"id":"31c3d2c1.1001ae","type":"subflow:4d7aa743.41b2f8","z":"75c81801.0b4488","name":"","x":960,"y":340,"wires":[]},{"id":"76260d05.7c1394","type":"subflow:70c8abf3.bbdc54","z":"4bfa1fea.c4c7f","name":"","x":1130,"y":700,"wires":[]},{"id":"20d39f27.b2123","type":"subflow:70c8abf3.bbdc54","z":"441e6834.2d76c8","name":"","x":930,"y":360,"wires":[]},{"id":"53d36bca.5f7c74","type":"switch","z":"a6e3a5be.534898","name":"","property":"deniedBoarding","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":220,"wires":[["b8e4feab.6b24c"],["4ea2b1b2.1395"]]},{"id":"b8e4feab.6b24c","type":"function","z":"a6e3a5be.534898","name":"Denied Boarding","func":"\n// Time to station\n\ndiff     = 20\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"Leave Secure Area (Flight missed / Denied Boarding)\"\nmsg.LOCATION = \"Terminal 1\"\nmsg.Gate     = msg.Gate\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":220,"wires":[["c718de5f.86603"]]},{"id":"a4c11b14.17b508","type":"function","z":"989423f6.5b8e9","name":"Calling hotline","func":"\n\ndiff = generateRandomNumber(10,120);\nhelp = generateRandomNumber(0,14);\nvar d1 = new Date(msg.timestamp)\nvar d2 = new Date();\n\nd2.setTime(d1.getTime() + (diff * 1000));\nmsg.timestamp = d2.toString();\n\n\nmsg.action           = \"Calling Hotline\";\nmsg.stage            = \"Online Shop\";\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["8ce09ed6.8007a"]]},{"id":"8ce09ed6.8007a","type":"function","z":"989423f6.5b8e9","name":"Loogout / Continue","func":"help = generateRandomNumber(0,100);\n\n\nif(help >= 25)\n    msg.will_continue = 1;\nelse \n    msg.will_continue = 0;\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":730,"y":330,"wires":[["74a14142.3e1c7"]]},{"id":"74a14142.3e1c7","type":"switch","z":"989423f6.5b8e9","name":"Switch Continue?","property":"will_continue","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":330,"wires":[[],[]]},{"id":"ba7da52e.137238","type":"function","z":"9094e70a.e111c8","name":"Enter Departure Hall","func":"var terminal = 1\n\nmsg.STEP     = \"ENTER Departure Hall\"\nmsg.LOCATION = \"Terminal 1\"\n\nvar year  = 2018\nvar month = generateRandomNumber(1,12)\n\nif(month==1 || month==3 ||month==5 || month==7 || month==9 || month==10 || month==12)\n  day=generateRandomNumber(1,31)\nelse if (month==2)\n    day = generateRandomNumber(1,28)\nelse\n    day = generateRandomNumber(1,30)\n    \nvar hour   = generateRandomNumber(5,20)\nvar minute = generateRandomNumber(0,59)\n  \n\nmsg.time = new Date(year, month, day, hour, minute,0)\n\n\nvar count=context.get('count') || 0;\n\nmsg.destination  = msg.payload % 10\nmsg.lounge       = generateRandomNumber(0,9)\nmsg.duty_free    = generateRandomNumber(0,9)\nmsg.dining       = generateRandomNumber(0,9)\n\ntraffic_low_factor   = 1\ntraffic_peek_factor  = 3\ntraffic_std_factor   = 2\ntraffic_factor       = 0\n\nif(generateRandomNumber(0,9) == 1 || generateRandomNumber(0,9) == 2){\n    \n   msg.passport_control = 1 \n}\n\n\nhour = msg.time.getHours()\n\n\nswitch(hour) {\n  case 8:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 9:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 10:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 17:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 18:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 19:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 11:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  case 12:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  case 13:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  default:\n    msg.traffic_factor = traffic_std_factor;\n}\n\n\nreturn msg;\n\n\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}\n\n\n","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["9d93f1ec.2c293"]]},{"id":"d96526b7.e85738","type":"file","z":"b423bc73.5d20c","name":"airport-total","filename":"/Users/dirkb/Temp/airport-total.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1210,"y":260,"wires":[[]]},{"id":"f978f734.c71128","type":"function","z":"b423bc73.5d20c","name":"Prepare CSV","func":"var originalPayload = msg.payload;\n\nvar newPayload = {};\nnewPayload._time    = msg.time;\nnewPayload._msgid   = msg._msgid;\nnewPayload.STEP     = msg.STEP;\nnewPayload.LOCATION = msg.LOCATION;\nnewPayload.GATE     = msg.GATE;\n\nmsg.payload = newPayload\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":260,"wires":[["85286674.588508","a6af4028.fd53e"]]},{"id":"6ddba89c.1ef6a8","type":"function","z":"b2c996ce.43a108","name":"Enter Security Lane","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Security Lane\"\nmsg.LOCATION = \"SEC-LANE-5\"\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["47b435a6.e68c4c","2cacb2.3b24d34e"]]},{"id":"47b435a6.e68c4c","type":"function","z":"b2c996ce.43a108","name":"Enter Security","func":"\n// Time in station\n\ndiff     = 8\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Security Check\"\nmsg.LOCATION = \"SEC-POS-2\"\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":180,"wires":[["b96c4126.4e263","2cacb2.3b24d34e"]]},{"id":"b96c4126.4e263","type":"function","z":"b2c996ce.43a108","name":"Leave Security","func":"\n// Time in station\n\ndiff     = 2\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Security Check\"\nmsg.LOCATION = \"SEC-POS-2\"\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":180,"wires":[["2cacb2.3b24d34e"]]},{"id":"fc6e9a05.70b4e8","type":"function","z":"17bb023d.1ebc9e","name":"Enter Check-In Area","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Check-In Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["f722d564.493718","ea17551c.d274f8"]]},{"id":"f722d564.493718","type":"function","z":"17bb023d.1ebc9e","name":"Leave Check-In Area","func":"\n// Time to station\n\ndiff     = 6\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Check-In Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["ea17551c.d274f8"]]},{"id":"e75593d8.4c5cb","type":"function","z":"42c51b98.572334","name":"Enter Frequent Flyer Lounge","func":"\n// Time to station\n\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Frequent Flyer Lounge\"\nmsg.LOCATION = \"Terminal 1\"\n\nvar wasAtLounge = \"yes\"\n\nmsg.wasAtLounge = wasAtLounge\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["5f11e69f.6e3e58","4ee81395.eb37bc"]]},{"id":"5f11e69f.6e3e58","type":"function","z":"42c51b98.572334","name":"Leave Frequent Flyer Lounge","func":"\n// Time in station\n\ndiff     = 25\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Frequent Flyer Lounge\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":180,"wires":[["4ee81395.eb37bc"]]},{"id":"8ce47869.b3bdb8","type":"function","z":"3b2400c4.acef1","name":"Arrive Boarding Gate","func":"\n// Time to station\n\ndiff     = 6\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Bording Gate Area\";\n\n\nmsg.LOCATION = \"Terminal 1\"\n\n\nif(msg.LOCATION == \"Terminal 1\"){\n    var rnd = generateRandomNumber(0,100)\n    if(rnd>66){\n        var area = \"A\";\n     } else {\n        var area = \"B\";\n     }   \n    msg.GATE = area + generateRandomNumber(1,20).toString();\n } else {\n    msg.GATE = \"C\" + generateRandomNumber(1,30).toString();\n }\n\n\nvar deniedBoarding = generateRandomNumber(1,1000)\nif(deniedBoarding > 998)\n    msg.deniedBoarding = 1;\nelse \n    msg.deniedBoarding = 0;\n\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["350ddb79.356124","58f3437c.76142c"]]},{"id":"96f80a8a.850338","type":"function","z":"3b2400c4.acef1","name":"Board Flight","func":"\n// Time to station\n\ndiff     = 20\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"BOARD Aircraft\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["350ddb79.356124"]]},{"id":"129a6011.f9a55","type":"function","z":"210c6752.111f18","name":"Enter Baggage-Drop Area","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Baggage-Drop Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":620,"wires":[["38402d79.0bcb72","f03e76a.68b9088"]]},{"id":"38402d79.0bcb72","type":"function","z":"210c6752.111f18","name":"Leave Baggage-Drop Area","func":"\n// Time in station\n\ndiff     = 3\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Baggage-Drop Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":620,"wires":[["f03e76a.68b9088"]]},{"id":"b1788537.9441e8","type":"function","z":"3bfc440c.42112c","name":"Leave Departure Hall (Non-PAX)","func":"\n\n// Time to station\n\ndiff     = 10\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVING Departure Hall\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["be551306.bd255"]]},{"id":"350ddb79.356124","type":"subflow:b423bc73.5d20c","z":"3b2400c4.acef1","name":"","x":1140,"y":440,"wires":[]},{"id":"4ee81395.eb37bc","type":"subflow:b423bc73.5d20c","z":"42c51b98.572334","name":"","x":1020,"y":240,"wires":[]},{"id":"73edcc10.9c8464","type":"function","z":"1cbe7f36.77d9f1","name":"Enter Duty Free","func":"\n// Time to station\n\ndiff     = 3\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Duty Free Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["6f4248a5.1fd128","aa2ccd6d.5c625"]]},{"id":"6f4248a5.1fd128","type":"function","z":"1cbe7f36.77d9f1","name":"Leave Duty Free","func":"\n// Time in station\n\ndiff     = 4\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Duty Free Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":200,"wires":[["aa2ccd6d.5c625"]]},{"id":"aa2ccd6d.5c625","type":"subflow:b423bc73.5d20c","z":"1cbe7f36.77d9f1","name":"","x":950,"y":260,"wires":[]},{"id":"22bfe5d0.7f454a","type":"function","z":"73c12b60.bc01e4","name":"Enter Dining Area","func":"\n// Time to station\n\ndiff     = 8\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Dining Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["55382dbc.014a84","d4e4dd46.f178e"]]},{"id":"55382dbc.014a84","type":"function","z":"73c12b60.bc01e4","name":"Leave Dining Area","func":"\n// Time to station\n\ndiff     = 25\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Dining Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["d4e4dd46.f178e"]]},{"id":"d4e4dd46.f178e","type":"subflow:b423bc73.5d20c","z":"73c12b60.bc01e4","name":"","x":920,"y":460,"wires":[]},{"id":"46c00d8e.f2bb44","type":"file","z":"b423bc73.5d20c","name":"airport-gate-area","filename":"/Users/dirkb/Temp/airport-gate-area.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1270,"y":340,"wires":[[]]},{"id":"691839f7.102838","type":"function","z":"47194c53.b53f54","name":"Prepare CSV","func":"var originalPayload = msg.payload;\n\nvar newPayload = {};\nnewPayload._time    = msg.time;\nnewPayload._msgid   = msg._msgid;\nnewPayload.STEP     = msg.STEP;\nnewPayload.LOCATION = msg.LOCATION;\n\nmsg.payload = newPayload\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":330,"wires":[["8f8f56ec.c48738"]],"outputLabels":["airport-toal"]},{"id":"9d93f1ec.2c293","type":"subflow:47194c53.b53f54","z":"9094e70a.e111c8","name":"","x":990,"y":160,"wires":[]},{"id":"481c65de.ac668c","type":"file","z":"47194c53.b53f54","name":"airport-total","filename":"/Users/dirkb/Temp/airport-total.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":910,"y":180,"wires":[[]]},{"id":"7574d542.80e26c","type":"file","z":"47194c53.b53f54","name":"airport-public-area","filename":"/Users/dirkb/Temp/airport-public-area.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":930,"y":330,"wires":[[]]},{"id":"be551306.bd255","type":"subflow:47194c53.b53f54","z":"3bfc440c.42112c","name":"","x":750,"y":220,"wires":[]},{"id":"56b0293b.cc6558","type":"function","z":"5cfabf76.b8a5e","name":"Prepare CSV","func":"var originalPayload = msg.payload;\n\nvar newPayload = {};\nnewPayload._time    = msg.time;\nnewPayload._msgid   = msg._msgid;\nnewPayload.STEP     = msg.STEP;\nnewPayload.ACTION   = msg.STEP;\nnewPayload.LOCATION = msg.LOCATION;\n\nmsg.payload = newPayload\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["3d724e28.1968f2","811bf838.d387a8"]]},{"id":"e45b6a19.97ed18","type":"file","z":"5cfabf76.b8a5e","name":"airport-security","filename":"/Users/dirkb/Temp/airport-security-area.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":960,"y":320,"wires":[[]]},{"id":"bcea421c.45c6a","type":"file","z":"5cfabf76.b8a5e","name":"airport-total","filename":"/Users/dirkb/Temp/airport-total.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":950,"y":220,"wires":[[]]},{"id":"2cacb2.3b24d34e","type":"subflow:5cfabf76.b8a5e","z":"b2c996ce.43a108","name":"","x":1080,"y":280,"wires":[]},{"id":"85286674.588508","type":"function","z":"b423bc73.5d20c","name":"Prepare CSV","func":"var originalPayload = msg.payload;\n\nvar newPayload = {};\nnewPayload._time     = msg.time;\nnewPayload.pax_id    = msg._msgid;\nnewPayload.STEP      = msg.STEP;\nnewPayload.OPERATION = msg.STEP;\nnewPayload.LOCATION  = msg.LOCATION;\nnewPayload.GATE      = msg.GATE;\n\nmsg.payload = newPayload\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":340,"wires":[["7a91f5c3.1eda1c"]]},{"id":"d0f2a2ac.1b62f","type":"function","z":"9de676a0.4fcdc8","name":"Passport Control","func":"\n// Time to station\n\ndiff     = 2\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"Passport Control\"\nmsg.LOCATION = \"Border-Control Booth 1\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["6b4ac67d.b50628"]]},{"id":"6b4ac67d.b50628","type":"subflow:b423bc73.5d20c","z":"9de676a0.4fcdc8","name":"","x":960,"y":340,"wires":[]},{"id":"f03e76a.68b9088","type":"subflow:47194c53.b53f54","z":"210c6752.111f18","name":"","x":1130,"y":700,"wires":[]},{"id":"ea17551c.d274f8","type":"subflow:47194c53.b53f54","z":"17bb023d.1ebc9e","name":"","x":930,"y":360,"wires":[]},{"id":"58f3437c.76142c","type":"switch","z":"3b2400c4.acef1","name":"","property":"deniedBoarding","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":220,"wires":[["a1566227.c303e"],["96f80a8a.850338"]]},{"id":"a1566227.c303e","type":"function","z":"3b2400c4.acef1","name":"Denied Boarding","func":"\n// Time to station\n\ndiff     = 20\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"Leave Secure Area (Flight missed / Denied Boarding)\"\nmsg.LOCATION = \"Terminal 1\"\nmsg.Gate     = msg.Gate\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":220,"wires":[["350ddb79.356124"]]},{"id":"8f8f56ec.c48738","type":"csv","z":"47194c53.b53f54","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\r","temp":"_time, _msgid, STEP, LOCATION, GATE","skip":"0","x":700,"y":260,"wires":[["481c65de.ac668c","7574d542.80e26c"]]},{"id":"3d724e28.1968f2","type":"csv","z":"5cfabf76.b8a5e","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\r","temp":"_time, _msgid, STEP, LOCATION, GATE","skip":"0","x":680,"y":240,"wires":[["bcea421c.45c6a"]]},{"id":"a6af4028.fd53e","type":"csv","z":"b423bc73.5d20c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\r","temp":"_time, _msgid, STEP, LOCATION, GATE","skip":"0","x":920,"y":180,"wires":[["d96526b7.e85738"]]},{"id":"7a91f5c3.1eda1c","type":"csv","z":"b423bc73.5d20c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\r","temp":"_time, pax_id, STEP, LOCATION, GATE","skip":"0","x":1060,"y":360,"wires":[["46c00d8e.f2bb44"]]},{"id":"285d452c.18aeda","type":"subflow:3d5034ff.69fedc","z":"9f4c332c.51f92","name":"","env":[],"x":1140,"y":260,"wires":[["6c58c567.69beec"]]},{"id":"f76ee430.c80e88","type":"inject","z":"9f4c332c.51f92","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["42dd25e6.03174c"]]},{"id":"6c58c567.69beec","type":"subflow:a68c337.ac348d","z":"9f4c332c.51f92","name":"","env":[],"x":1350,"y":260,"wires":[]},{"id":"9784a1b2.634ad","type":"function","z":"a68c337.ac348d","name":"Package delivered","func":"msg.wait_time_ms =  3600000;   //hours\nmsg.wait_random_min =     2;\nmsg.wait_random_max =    16;\n\n\nmsg.action = \"Package Delivered\";\nmsg.stage  = \"Delivery\";\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":510,"y":600,"wires":[["27a6f085.2b7d2"]]},{"id":"52416939.d34728","type":"function","z":"a68c337.ac348d","name":"Package Arrived in Logictis Start Center","func":"msg.wait_time_ms =   720000;\nmsg.wait_random_min =     1;\nmsg.wait_random_max =     2;\n\n\nmsg.action = \"Arrived in Logistics\";\nmsg.stage  = \"Delivery\";\nmsg.delivery_attempts = 0;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["92a5bdfc.60118"]]},{"id":"42fbbb0f.392724","type":"function","z":"a68c337.ac348d","name":"Package Processed in Logistics Hub","func":"msg.wait_time_ms =  86400000;\nmsg.wait_random_min =     1;\nmsg.wait_random_max =     3;\n\n\nmsg.action = \"Processed in Hub\";\nmsg.stage  = \"Delivery\";\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["f72aed88.83c1d"]]},{"id":"5153e684.812608","type":"function","z":"a68c337.ac348d","name":"Package out for delivery","func":"msg.wait_time_ms =  3600000;    // hours\nmsg.wait_random_min =     2;\nmsg.wait_random_max =     6;\n\n\nif(msg.delivery_attempts > 1){\n    msg.wait_random_min =    24;   // a day or 2 for re-deliveries\n    msg.wait_random_max =    60;\n}\nmsg.action = \"Out for Delivery\";\nmsg.stage  = \"Delivery\";\nmsg.delivery_attempts += 1;\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["33ad9fc7.10276"]]},{"id":"23b29661.11d1ba","type":"comment","z":"9f4c332c.51f92","name":"Overall Retail Demo Process","info":"","x":920,"y":220,"wires":[]},{"id":"44f2daee.548624","type":"csv","z":"8e826397.79246","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\r","temp":"timestamp, client_ip, session_id, stage, action, basket_id, product_id, quantity, order_id, shipping_id, duration_ms","skip":"0","strings":true,"x":830,"y":160,"wires":[["45acffec.add53"]]},{"id":"45acffec.add53","type":"file","z":"8e826397.79246","name":"","filename":"/Users/tomm/Downloads/retail.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1060,"y":160,"wires":[[]]},{"id":"ecd669db.23c258","type":"function","z":"f16eab4e.a11b28","name":"Order Created","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =    1;\nmsg.wait_random_max =    5;\n\n\nmsg.order_id = \"O-\" + (30000 + msg.gcount);\nmsg.action = \"Order Created\"\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1240,"y":300,"wires":[["be2dfff4.befb4"]]},{"id":"782af5e.e95920c","type":"function","z":"f16eab4e.a11b28","name":"Start Payment Process","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =    1;\nmsg.wait_random_max =    3;\n\n\nmsg.action = \"Start Payment Process\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["62798309.e701cc"]]},{"id":"c7f295ce.4e3508","type":"subflow:8e826397.79246","z":"f16eab4e.a11b28","name":"","x":1030,"y":260,"wires":[["ecd669db.23c258"]]},{"id":"eecc2fdd.ec74c","type":"function","z":"67b43599.32cc2c","name":"View Product Catalog","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =    1;\nmsg.wait_random_max =   10;\n\n\nmsg.action    = \"View Catalog\";\nmsg.stage     = \"Online Shop\";\nmsg.product_id = \"\"\nmsg.quantity   = \"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":120,"wires":[["f72f5da7.ac6c9"]]},{"id":"4355ecb2.d724f4","type":"switch","z":"67b43599.32cc2c","name":"Switch Checkout or Add / Remove Product","property":"change_product","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":410,"y":600,"wires":[["9dacdb83.8d2b08"],["4a3519f.18945e8"],["cda9aae1.5a1928"]]},{"id":"4a3519f.18945e8","type":"function","z":"67b43599.32cc2c","name":"Remove Product?","func":"var help = 0\n\n\nhelp = generateRandomNumber(0,100);\n\nif(help >= 66 && msg.products_in_basket > 1)\n    msg.remove_product = 1;\nelse\n    msg.remove_product = 0;\n\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":710,"y":580,"wires":[["44fd7e14.c5ba9"]]},{"id":"625293fe.198b4c","type":"function","z":"67b43599.32cc2c","name":"Product Updates?","func":"var help = 0\n\n\nhelp = generateRandomNumber(0,100);\n\nmsg.change_product = 0;\nif(help >= 80)\n    msg.change_product = 1;      // update product\nelse if(help >= 70 )\n        msg.change_product = 2;  // remove product\n\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":250,"y":520,"wires":[["4355ecb2.d724f4"]]},{"id":"44fd7e14.c5ba9","type":"switch","z":"67b43599.32cc2c","name":"Remove Product","property":"remove_product","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":950,"y":580,"wires":[["cda9aae1.5a1928"],["572f667f.9a4618"]]},{"id":"572f667f.9a4618","type":"function","z":"67b43599.32cc2c","name":"Remove Product","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =   10;\nmsg.wait_random_max =  120;\n\n\nmsg.action = \"Remove a Product\";\nmsg.stage = \"Online Shop\";\n\nmsg.products_in_basket -= 1;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1210,"y":540,"wires":[["6e9c1424.e8097c"]]},{"id":"e1438909.c88bb8","type":"function","z":"f16eab4e.a11b28","name":"Select Payment Method","func":"var help = 0\n\nmsg.product_id = \"\"\nmsg.quantity   = \"\";\n\n\n\nhelp = generateRandomNumber(0,100);\n\nmsg.payment_method = \"invoice\";\n\nif(help >= 0 && help < 60)\n    msg.payment_method = \"credit_card\";\nelse if(help >= 60 && help < 80)\n    msg.payment_method = \"paypal\";\n\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["fe7a00cb.49d2e"]]},{"id":"fe7a00cb.49d2e","type":"switch","z":"f16eab4e.a11b28","name":"","property":"payment_method","propertyType":"msg","rules":[{"t":"eq","v":"invoice","vt":"str"},{"t":"eq","v":"paypal","vt":"str"},{"t":"eq","v":"credit_card","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":550,"y":280,"wires":[["40bf1f14.6f776"],["b4a9b3a1.5ce94"],["d3bf5fec.03158"]]},{"id":"9eaa3a0.edb04c8","type":"function","z":"27d2cb9c.1a7874","name":"Pay with Credit Card","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =    1;\nmsg.wait_random_max =   30;\n\n\nmsg.action = \"Pay with Credit Card\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["ea3c6093.dd4e1"]]},{"id":"1e7fde49.a6b292","type":"function","z":"27d2cb9c.1a7874","name":"Credit Card accepted?","func":"help = generateRandomNumber(0,100);\n\nmsg.credit_card_status = 0;\n\nif(help >= 85)\n    msg.credit_card_status = 1;     // card failed\n    \n    \nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":880,"y":80,"wires":[["3790c15.1b0a73e"]]},{"id":"3790c15.1b0a73e","type":"switch","z":"27d2cb9c.1a7874","name":"Card Accepted?","property":"credit_card_status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1140,"y":80,"wires":[["cb4d8b7e.12ad68"],[]]},{"id":"cb4d8b7e.12ad68","type":"function","z":"27d2cb9c.1a7874","name":"Credit Card Counter +1","func":"\nmsg.credit_card_counter += 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["7b31ffd8.fd2f4"]]},{"id":"7b31ffd8.fd2f4","type":"switch","z":"27d2cb9c.1a7874","name":"Canceled?    (too many retries)","property":"credit_card_counter","propertyType":"msg","rules":[{"t":"gt","v":"2","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":700,"y":180,"wires":[["4c883ffa.9b9eb"],["4756cd2b.9b6084"]]},{"id":"4c883ffa.9b9eb","type":"function","z":"27d2cb9c.1a7874","name":"Transaction Rejected","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =    1;\nmsg.wait_random_max =    1;\n\n\n\nmsg.action = \"Transaction Rejected\"\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":180,"wires":[["289956fd.23552a"]]},{"id":"474d1a22.1bc7d4","type":"function","z":"27d2cb9c.1a7874","name":"Init","func":"\nmsg.credit_card_counter = 0;\nmsg.credit_card_status  = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["9eaa3a0.edb04c8"]]},{"id":"9dacdb83.8d2b08","type":"function","z":"67b43599.32cc2c","name":"Change Quantity?","func":"var help = 0\n\n\nhelp = generateRandomNumber(0,100);\n\nif(help >= 80 && msg.products_in_basket >= 1)\n    msg.change_quantity = 1;\nelse\n    msg.change_quantity = 0;\n\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":710,"y":520,"wires":[["6116eb78.8d7814"]]},{"id":"6116eb78.8d7814","type":"switch","z":"67b43599.32cc2c","name":"Change Quantity?","property":"change_quantity","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":950,"y":520,"wires":[["1da193c3.1a194c"],["cda9aae1.5a1928"]]},{"id":"1da193c3.1a194c","type":"function","z":"67b43599.32cc2c","name":"Change Quantity","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =    5;\nmsg.wait_random_max =   15;\n\n\nmsg.action   = \"Change Quantity\";\nmsg.quantity = generateRandomNumber(1,5);\nmsg.stage    = \"Online Shop\";\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":1210,"y":480,"wires":[["6e9c1424.e8097c"]]},{"id":"6e9c1424.e8097c","type":"subflow:8e826397.79246","z":"67b43599.32cc2c","name":"","x":1490,"y":500,"wires":[["cda9aae1.5a1928"]]},{"id":"4756cd2b.9b6084","type":"function","z":"27d2cb9c.1a7874","name":"Retry Credit Card","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =    1;\nmsg.wait_random_max =   15;\n\n\nmsg.action = \"Retry Credit Card\";\n\nmsg.credit_card_status  = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":240,"wires":[["4fb766a8.fd28e8"]]},{"id":"cda9aae1.5a1928","type":"function","z":"67b43599.32cc2c","name":"Continue Shopping?","func":"var help = 0\n\n\nhelp = generateRandomNumber(0,100);\n\nif(help >= 50 && msg.products_in_basket < 4)\n    msg.continue_shopping = 1;\nelse\n    msg.continue_shopping = 0;\n\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":1340,"y":660,"wires":[["621a32ac.5c9cfc"]]},{"id":"621a32ac.5c9cfc","type":"switch","z":"67b43599.32cc2c","name":"Checkout or Continue?","property":"continue_shopping","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":430,"y":740,"wires":[["f3917339.a3222"],["91aa5d23.8ed6"]]},{"id":"9a16b5c8.c47ba8","type":"function","z":"3d5034ff.69fedc","name":"Check Availability of Products","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =    3;\nmsg.wait_random_max =   15;\n \n\n//  remove the session ID, we're not online any more\nmsg.payload.session_id = \"\";\nmsg.payload.client_ip  = \"\";\n\n\nvar options = generateRandomNumber(0,100);\n\nif(options >= 0 && options < 10)\n    msg.further_path = \"Offer Cancelation\"\n    else if(options >= 10 && options < 15)\n        msg.further_path = \"Recommend Alternative\"\n        else if(options >= 15 && options < 35)\n            msg.further_path = \"Inform about delay\"\n            else\n                msg.further_path = \"Ready for shipment\"\n\nmsg.action = \"Check Availability\";\nmsg.stage = \"Fullfilment\";\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":250,"y":60,"wires":[["a03b4409.b0fe68"]]},{"id":"427b3b10.f83cf4","type":"switch","z":"3d5034ff.69fedc","name":"","property":"further_path","propertyType":"msg","rules":[{"t":"eq","v":"Offer Cancelation","vt":"str"},{"t":"eq","v":"Recommend Alternative","vt":"str"},{"t":"eq","v":"Inform about delay","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":250,"y":180,"wires":[["f18d3a2.d4b8cc8"],["80abf982.4a7428"],["98fa1769.be79f8"],["1057e441.505f1c"]]},{"id":"71cbea8d.cb14b4","type":"function","z":"3d5034ff.69fedc","name":"Package ready for Pick-Up","func":"msg.wait_time_ms    = 60000;\nmsg.wait_random_min =    20;\nmsg.wait_random_max =    90;\n\nmsg.action = \"Package ready for Pickup\";\nmsg.stage = \"Fullfilment\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1160,"y":600,"wires":[["e28c91bb.8b25"]]},{"id":"e6a973.0ec1369","type":"subflow:8e826397.79246","z":"3d5034ff.69fedc","name":"","x":1390,"y":500,"wires":[["71cbea8d.cb14b4"]]},{"id":"9df8112d.d6195","type":"function","z":"ead1c725.60fbc8","name":"Enter Departure Hall","func":"var terminal = 1\n\nmsg.STEP     = \"ENTER Departure Hall\"\nmsg.LOCATION = \"Terminal 1\"\n\nvar year  = 2018\nvar month = generateRandomNumber(1,12)\n\nif(month==1 || month==3 ||month==5 || month==7 || month==9 || month==10 || month==12)\n  day=generateRandomNumber(1,31)\nelse if (month==2)\n    day = generateRandomNumber(1,28)\nelse\n    day = generateRandomNumber(1,30)\n    \nvar hour   = generateRandomNumber(5,20)\nvar minute = generateRandomNumber(0,59)\n  \n\nmsg.time = new Date(year, month, day, hour, minute,0)\n\n\nvar count=context.get('count') || 0;\n\nmsg.destination  = msg.payload % 10\nmsg.lounge       = generateRandomNumber(0,9)\nmsg.duty_free    = generateRandomNumber(0,9)\nmsg.dining       = generateRandomNumber(0,9)\n\ntraffic_low_factor   = 1\ntraffic_peek_factor  = 3\ntraffic_std_factor   = 2\ntraffic_factor       = 0\n\nif(generateRandomNumber(0,9) == 1 || generateRandomNumber(0,9) == 2){\n    \n   msg.passport_control = 1 \n}\n\n\nhour = msg.time.getHours()\n\n\nswitch(hour) {\n  case 8:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 9:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 10:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 17:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 18:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 19:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 11:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  case 12:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  case 13:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  default:\n    msg.traffic_factor = traffic_std_factor;\n}\n\n\nreturn msg;\n\n\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}\n\n\n","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["f22a4822.ed15e8"]]},{"id":"64f288da.190478","type":"function","z":"3853ec92.270dc4","name":"Enter Security Lane","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Security Lane\"\nmsg.LOCATION = \"SEC-LANE-5\"\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["53029d54.bdedd4","7bceddbd.974744"]]},{"id":"53029d54.bdedd4","type":"function","z":"3853ec92.270dc4","name":"Enter Security","func":"\n// Time in station\n\ndiff     = 8\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Security Check\"\nmsg.LOCATION = \"SEC-POS-2\"\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":180,"wires":[["3b758619.cf9b6a","7bceddbd.974744"]]},{"id":"3b758619.cf9b6a","type":"function","z":"3853ec92.270dc4","name":"Leave Security","func":"\n// Time in station\n\ndiff     = 2\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Security Check\"\nmsg.LOCATION = \"SEC-POS-2\"\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":180,"wires":[["7bceddbd.974744"]]},{"id":"ebc7a6d2.ef7c88","type":"function","z":"7c3c5f97.a4978","name":"Enter Check-In Area","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Check-In Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["b5041cf5.75014","a16ca9f1.f84f68"]]},{"id":"b5041cf5.75014","type":"function","z":"7c3c5f97.a4978","name":"Leave Check-In Area","func":"\n// Time to station\n\ndiff     = 6\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Check-In Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["a16ca9f1.f84f68"]]},{"id":"1c1e6c86.9fd563","type":"function","z":"94c81d5c.a1218","name":"Enter Frequent Flyer Lounge","func":"\n// Time to station\n\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Frequent Flyer Lounge\"\nmsg.LOCATION = \"Terminal 1\"\n\nvar wasAtLounge = \"yes\"\n\nmsg.wasAtLounge = wasAtLounge\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["e1fdac91.ed132","94e26612.b024e8"]]},{"id":"e1fdac91.ed132","type":"function","z":"94c81d5c.a1218","name":"Leave Frequent Flyer Lounge","func":"\n// Time in station\n\ndiff     = 25\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Frequent Flyer Lounge\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":180,"wires":[["94e26612.b024e8"]]},{"id":"224ccdc0.3c99f2","type":"function","z":"dd8336a1.07fa98","name":"Arrive Boarding Gate","func":"\n// Time to station\n\ndiff     = 6\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Bording Gate Area\";\n\n\nmsg.LOCATION = \"Terminal 1\"\n\n\nif(msg.LOCATION == \"Terminal 1\"){\n    var rnd = generateRandomNumber(0,100)\n    if(rnd>66){\n        var area = \"A\";\n     } else {\n        var area = \"B\";\n     }   \n    msg.GATE = area + generateRandomNumber(1,20).toString();\n } else {\n    msg.GATE = \"C\" + generateRandomNumber(1,30).toString();\n }\n\n\nvar deniedBoarding = generateRandomNumber(1,1000)\nif(deniedBoarding > 998)\n    msg.deniedBoarding = 1;\nelse \n    msg.deniedBoarding = 0;\n\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["87e4679d.1e51b8","c5ea192e.533438"]]},{"id":"33b25de0.d307d2","type":"function","z":"dd8336a1.07fa98","name":"Board Flight","func":"\n// Time to station\n\ndiff     = 20\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"BOARD Aircraft\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["87e4679d.1e51b8"]]},{"id":"38961653.9887da","type":"function","z":"9c277c87.588a1","name":"Enter Baggage-Drop Area","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Baggage-Drop Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":620,"wires":[["539394b2.1c219c","f38a16aa.577e38"]]},{"id":"539394b2.1c219c","type":"function","z":"9c277c87.588a1","name":"Leave Baggage-Drop Area","func":"\n// Time in station\n\ndiff     = 3\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Baggage-Drop Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":620,"wires":[["f38a16aa.577e38"]]},{"id":"1a24cce3.28d253","type":"function","z":"884a0795.6ba4f8","name":"Leave Departure Hall (Non-PAX)","func":"\n\n// Time to station\n\ndiff     = 10\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVING Departure Hall\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["576d4c3b.8364d4"]]},{"id":"87e4679d.1e51b8","type":"subflow:b423bc73.5d20c","z":"dd8336a1.07fa98","name":"","x":1140,"y":440,"wires":[]},{"id":"94e26612.b024e8","type":"subflow:b423bc73.5d20c","z":"94c81d5c.a1218","name":"","x":1020,"y":240,"wires":[]},{"id":"22711663.cbcb7a","type":"function","z":"bddbf6be.541348","name":"Enter Duty Free","func":"\n// Time to station\n\ndiff     = 3\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Duty Free Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["8fbd9872.cda8e8","629cf39f.3db99c"]]},{"id":"8fbd9872.cda8e8","type":"function","z":"bddbf6be.541348","name":"Leave Duty Free","func":"\n// Time in station\n\ndiff     = 4\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Duty Free Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":200,"wires":[["629cf39f.3db99c"]]},{"id":"629cf39f.3db99c","type":"subflow:b423bc73.5d20c","z":"bddbf6be.541348","name":"","x":950,"y":260,"wires":[]},{"id":"f801422a.48bd5","type":"function","z":"e286dc36.7c451","name":"Enter Dining Area","func":"\n// Time to station\n\ndiff     = 8\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Dining Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["5b6fd184.88eab","b82a4836.d0ea28"]]},{"id":"5b6fd184.88eab","type":"function","z":"e286dc36.7c451","name":"Leave Dining Area","func":"\n// Time to station\n\ndiff     = 25\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Dining Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["b82a4836.d0ea28"]]},{"id":"b82a4836.d0ea28","type":"subflow:b423bc73.5d20c","z":"e286dc36.7c451","name":"","x":920,"y":460,"wires":[]},{"id":"f22a4822.ed15e8","type":"subflow:47194c53.b53f54","z":"ead1c725.60fbc8","name":"","x":990,"y":160,"wires":[]},{"id":"576d4c3b.8364d4","type":"subflow:47194c53.b53f54","z":"884a0795.6ba4f8","name":"","x":750,"y":220,"wires":[]},{"id":"7bceddbd.974744","type":"subflow:5cfabf76.b8a5e","z":"3853ec92.270dc4","name":"","x":1080,"y":280,"wires":[]},{"id":"c858c41.3f91838","type":"function","z":"15125294.a2f03d","name":"Passport Control","func":"\n// Time to station\n\ndiff     = 2\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"Passport Control\"\nmsg.LOCATION = \"Border-Control Booth 1\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["aa2a4dbb.18257"]]},{"id":"aa2a4dbb.18257","type":"subflow:b423bc73.5d20c","z":"15125294.a2f03d","name":"","x":960,"y":340,"wires":[]},{"id":"f38a16aa.577e38","type":"subflow:47194c53.b53f54","z":"9c277c87.588a1","name":"","x":1130,"y":700,"wires":[]},{"id":"a16ca9f1.f84f68","type":"subflow:47194c53.b53f54","z":"7c3c5f97.a4978","name":"","x":930,"y":360,"wires":[]},{"id":"c5ea192e.533438","type":"switch","z":"dd8336a1.07fa98","name":"","property":"deniedBoarding","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":220,"wires":[["865dfbc6.3094d8"],["33b25de0.d307d2"]]},{"id":"865dfbc6.3094d8","type":"function","z":"dd8336a1.07fa98","name":"Denied Boarding","func":"\n// Time to station\n\ndiff     = 20\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"Leave Secure Area (Flight missed / Denied Boarding)\"\nmsg.LOCATION = \"Terminal 1\"\nmsg.Gate     = msg.Gate\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":220,"wires":[["87e4679d.1e51b8"]]},{"id":"2f9003f0.92392c","type":"function","z":"c54a9d24.2155","name":"Enter Departure Hall","func":"var terminal = 1\n\nmsg.STEP     = \"ENTER Departure Hall\"\nmsg.LOCATION = \"Terminal 1\"\n\nvar year  = 2018\nvar month = generateRandomNumber(1,12)\n\nif(month==1 || month==3 ||month==5 || month==7 || month==9 || month==10 || month==12)\n  day=generateRandomNumber(1,31)\nelse if (month==2)\n    day = generateRandomNumber(1,28)\nelse\n    day = generateRandomNumber(1,30)\n    \nvar hour   = generateRandomNumber(5,20)\nvar minute = generateRandomNumber(0,59)\n  \n\nmsg.time = new Date(year, month, day, hour, minute,0)\n\n\nvar count=context.get('count') || 0;\n\nmsg.destination  = msg.payload % 10\nmsg.lounge       = generateRandomNumber(0,9)\nmsg.duty_free    = generateRandomNumber(0,9)\nmsg.dining       = generateRandomNumber(0,9)\n\ntraffic_low_factor   = 1\ntraffic_peek_factor  = 3\ntraffic_std_factor   = 2\ntraffic_factor       = 0\n\nif(generateRandomNumber(0,9) == 1 || generateRandomNumber(0,9) == 2){\n    \n   msg.passport_control = 1 \n}\n\n\nhour = msg.time.getHours()\n\n\nswitch(hour) {\n  case 8:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 9:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 10:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 17:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 18:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 19:\n    msg.traffic_factor = traffic_peek_factor;\n    break;\n  case 11:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  case 12:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  case 13:\n    msg.traffic_factor = traffic_low_factor;\n    break;\n  default:\n    msg.traffic_factor = traffic_std_factor;\n}\n\n\nreturn msg;\n\n\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}\n\n\n","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["e3d62ac0.78e958"]]},{"id":"56e2bb1e.536334","type":"function","z":"1fed8172.c2ac2f","name":"Enter Security Lane","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Security Lane\"\nmsg.LOCATION = \"SEC-LANE-5\"\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["45002fb.40bd3d","2e953db9.6c69a2"]]},{"id":"45002fb.40bd3d","type":"function","z":"1fed8172.c2ac2f","name":"Enter Security","func":"\n// Time in station\n\ndiff     = 8\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Security Check\"\nmsg.LOCATION = \"SEC-POS-2\"\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":180,"wires":[["fb005b53.6a9778","2e953db9.6c69a2"]]},{"id":"fb005b53.6a9778","type":"function","z":"1fed8172.c2ac2f","name":"Leave Security","func":"\n// Time in station\n\ndiff     = 2\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Security Check\"\nmsg.LOCATION = \"SEC-POS-2\"\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":180,"wires":[["2e953db9.6c69a2"]]},{"id":"fecafe2.6927","type":"function","z":"4258b997.e1b158","name":"Enter Check-In Area","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Check-In Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["841ce8e2.5caf58","cf504c60.1e91f"]]},{"id":"841ce8e2.5caf58","type":"function","z":"4258b997.e1b158","name":"Leave Check-In Area","func":"\n// Time to station\n\ndiff     = 6\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Check-In Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["cf504c60.1e91f"]]},{"id":"a6b5865a.e45378","type":"function","z":"aa4b930d.8f4a1","name":"Enter Frequent Flyer Lounge","func":"\n// Time to station\n\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Frequent Flyer Lounge\"\nmsg.LOCATION = \"Terminal 1\"\n\nvar wasAtLounge = \"yes\"\n\nmsg.wasAtLounge = wasAtLounge\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["39bfdc36.f38804","efa667a0.233338"]]},{"id":"39bfdc36.f38804","type":"function","z":"aa4b930d.8f4a1","name":"Leave Frequent Flyer Lounge","func":"\n// Time in station\n\ndiff     = 25\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Frequent Flyer Lounge\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":180,"wires":[["efa667a0.233338"]]},{"id":"ee4070e2.a6899","type":"function","z":"f41521e0.3dda2","name":"Arrive Boarding Gate","func":"\n// Time to station\n\ndiff     = 6\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Bording Gate Area\";\n\n\nmsg.LOCATION = \"Terminal 1\"\n\n\nif(msg.LOCATION == \"Terminal 1\"){\n    var rnd = generateRandomNumber(0,100)\n    if(rnd>66){\n        var area = \"A\";\n     } else {\n        var area = \"B\";\n     }   \n    msg.GATE = area + generateRandomNumber(1,20).toString();\n } else {\n    msg.GATE = \"C\" + generateRandomNumber(1,30).toString();\n }\n\n\nvar deniedBoarding = generateRandomNumber(1,1000)\nif(deniedBoarding > 998)\n    msg.deniedBoarding = 1;\nelse \n    msg.deniedBoarding = 0;\n\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["b5887e66.ce35e","ff24ca9b.81d708"]]},{"id":"32714bcb.eaa864","type":"function","z":"f41521e0.3dda2","name":"Board Flight","func":"\n// Time to station\n\ndiff     = 20\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"BOARD Aircraft\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["b5887e66.ce35e"]]},{"id":"a6fc9af5.f4a2f8","type":"function","z":"9be6e393.fea5","name":"Enter Baggage-Drop Area","func":"\n// Time to station\n\ndiff     = 5\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Baggage-Drop Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":620,"wires":[["2456df62.92318","70d6dfa3.24238"]]},{"id":"2456df62.92318","type":"function","z":"9be6e393.fea5","name":"Leave Baggage-Drop Area","func":"\n// Time in station\n\ndiff     = 3\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Baggage-Drop Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":620,"wires":[["70d6dfa3.24238"]]},{"id":"5f2e973e.b139f8","type":"function","z":"18fe684b.055bc8","name":"Leave Departure Hall (Non-PAX)","func":"\n\n// Time to station\n\ndiff     = 10\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVING Departure Hall\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["bf8d8b94.b7faf8"]]},{"id":"b5887e66.ce35e","type":"subflow:b423bc73.5d20c","z":"f41521e0.3dda2","name":"","x":1140,"y":440,"wires":[]},{"id":"efa667a0.233338","type":"subflow:b423bc73.5d20c","z":"aa4b930d.8f4a1","name":"","x":1020,"y":240,"wires":[]},{"id":"aafc43a6.faf68","type":"function","z":"45536a77.7f3f14","name":"Enter Duty Free","func":"\n// Time to station\n\ndiff     = 3\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Duty Free Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["5d091acf.5bd964","68ba6b10.6fa324"]]},{"id":"5d091acf.5bd964","type":"function","z":"45536a77.7f3f14","name":"Leave Duty Free","func":"\n// Time in station\n\ndiff     = 4\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Duty Free Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":200,"wires":[["68ba6b10.6fa324"]]},{"id":"68ba6b10.6fa324","type":"subflow:b423bc73.5d20c","z":"45536a77.7f3f14","name":"","x":950,"y":260,"wires":[]},{"id":"fb3b3c43.c0ea1","type":"function","z":"8d3f68a5.e19158","name":"Enter Dining Area","func":"\n// Time to station\n\ndiff     = 8\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"ENTER Dining Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["7b11e9d1.a6dcd8","96605ff2.3d743"]]},{"id":"7b11e9d1.a6dcd8","type":"function","z":"8d3f68a5.e19158","name":"Leave Dining Area","func":"\n// Time to station\n\ndiff     = 25\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"LEAVE Dining Area\"\nmsg.LOCATION = \"Terminal 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["96605ff2.3d743"]]},{"id":"96605ff2.3d743","type":"subflow:b423bc73.5d20c","z":"8d3f68a5.e19158","name":"","x":920,"y":460,"wires":[]},{"id":"e3d62ac0.78e958","type":"subflow:47194c53.b53f54","z":"c54a9d24.2155","name":"","x":990,"y":160,"wires":[]},{"id":"bf8d8b94.b7faf8","type":"subflow:47194c53.b53f54","z":"18fe684b.055bc8","name":"","x":750,"y":220,"wires":[]},{"id":"2e953db9.6c69a2","type":"subflow:5cfabf76.b8a5e","z":"1fed8172.c2ac2f","name":"","x":1080,"y":280,"wires":[]},{"id":"eadb96d3.ae7f08","type":"function","z":"150deed3.2751f1","name":"Passport Control","func":"\n// Time to station\n\ndiff     = 2\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"Passport Control\"\nmsg.LOCATION = \"Border-Control Booth 1\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["31ece0ee.38378"]]},{"id":"31ece0ee.38378","type":"subflow:b423bc73.5d20c","z":"150deed3.2751f1","name":"","x":960,"y":340,"wires":[]},{"id":"70d6dfa3.24238","type":"subflow:47194c53.b53f54","z":"9be6e393.fea5","name":"","x":1130,"y":700,"wires":[]},{"id":"cf504c60.1e91f","type":"subflow:47194c53.b53f54","z":"4258b997.e1b158","name":"","x":930,"y":360,"wires":[]},{"id":"ff24ca9b.81d708","type":"switch","z":"f41521e0.3dda2","name":"","property":"deniedBoarding","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":220,"wires":[["42624383.db760c"],["32714bcb.eaa864"]]},{"id":"42624383.db760c","type":"function","z":"f41521e0.3dda2","name":"Denied Boarding","func":"\n// Time to station\n\ndiff     = 20\nmsg.time = new Date(msg.time.getTime() + diff*60000 * msg.traffic_factor);\n\nmsg.STEP     = \"Leave Secure Area (Flight missed / Denied Boarding)\"\nmsg.LOCATION = \"Terminal 1\"\nmsg.Gate     = msg.Gate\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":220,"wires":[["b5887e66.ce35e"]]},{"id":"811bf838.d387a8","type":"csv","z":"5cfabf76.b8a5e","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\r","temp":"_time, _msgid, ACTION, LOCATION, GATE","skip":"0","x":680,"y":330,"wires":[["e45b6a19.97ed18"]]},{"id":"6ca97316.917f2c","type":"function","z":"a68c337.ac348d","name":"Package Left Warehouse to Logistics Operator","func":"msg.wait_time_ms =  7200000;\nmsg.wait_random_min =     1;\nmsg.wait_random_max =     3;\n\n\n//   remove fulfillment attributes\nmsg.basket_id  = \"\";\nmsg.product_id = \"\";\nmsg.payload.session_id = \"\";\nmsg.payload.client_ip  = \"\";\nmsg.cust_return = 0;\n\nmsg.action = \"Package Left Warehouse\";\nmsg.stage  = \"Delivery\";\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["a1b23fbb.28919"]]},{"id":"97c2ae44.1df1c","type":"subflow:8e826397.79246","z":"a68c337.ac348d","name":"","env":[],"x":1590,"y":580,"wires":[[]]},{"id":"86be0afc.249668","type":"function","z":"a68c337.ac348d","name":"Package deliverable?","func":"\nvar options = generateRandomNumber(0,100);\n\nif(options >= 90)\n    msg.delivered = 1;\nelse \n    msg.delivered = 0;\n \n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":260,"y":480,"wires":[["505d1482.f3142c"]]},{"id":"505d1482.f3142c","type":"switch","z":"a68c337.ac348d","name":"","property":"delivered","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":290,"y":560,"wires":[["6e6e535a.11a3fc"],["9784a1b2.634ad"]]},{"id":"d46a4205.3e03f","type":"switch","z":"a68c337.ac348d","name":"Retrying?","property":"delivery_attempts","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":960,"y":540,"wires":[["16c47926.d01697"],["5153e684.812608"]]},{"id":"16c47926.d01697","type":"function","z":"a68c337.ac348d","name":"Package returned to vendor","func":"msg.wait_time_ms =  86400000;    // 1 day\nmsg.wait_random_min =     1;\nmsg.wait_random_max =     2;\n\nmsg.action = \"Returned to Vendor\";\nmsg.stage  = \"Delivery\";\nmsg.delivery_attempts += 1;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1280,"y":540,"wires":[["97c2ae44.1df1c"]]},{"id":"6e6e535a.11a3fc","type":"function","z":"a68c337.ac348d","name":"Customer absent - Retry","func":"msg.wait_time_ms =  3600000;    //hours\nmsg.wait_random_min =     1;\nmsg.wait_random_max =    14;\n\n\nmsg.action = \"Customer Absent\";\nmsg.stage  = \"Delivery\";\nmsg.delivery_attempts += 1;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":530,"y":540,"wires":[["7ff8f259.e8789c"]]},{"id":"91bcfb4d.d7d288","type":"function","z":"67b43599.32cc2c","name":"Calling Hotline","func":"msg.wait_time_ms =   30000;\nmsg.wait_random_min =    1;\nmsg.wait_random_max =   10;\n\n\nmsg.action = \"Calling Hotline\";\nmsg.stage = \"Online Shop\";\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":280,"wires":[["6ee47739.349ba8"]]},{"id":"f8af4060.f2a7","type":"function","z":"67b43599.32cc2c","name":"Calls Hotline?","func":"\nvar help = 0\n\nhelp = generateRandomNumber(0,100);\n\nmsg.calls_hotline = 0;\n\nif(msg.country == \"Italy\" && help <= 90 && msg.did_call_hotline === 0)\n    msg.calls_hotline = 1;\nelse\n    if(msg.country != \"Italy\" && help >= 95 && msg.did_call_hotline === 0)\n        msg.calls_hotline = 1;\n    else\n        msg.calls_hotline = 0;\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["9ee9edf0.55daf"]]},{"id":"9ee9edf0.55daf","type":"switch","z":"67b43599.32cc2c","name":"","property":"calls_hotline","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":750,"y":320,"wires":[["91bcfb4d.d7d288"],["82dfacd1.0450d"]]},{"id":"2954489e.fc57d8","type":"function","z":"67b43599.32cc2c","name":"Buys Product?","func":"\nvar help = 0\n\nhelp = generateRandomNumber(0,100);\n\n\n\nif(help > 75)\n    msg.buys_product = 1;\nelse\n    msg.buys_product = 0;\n\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":1180,"y":280,"wires":[["f3adaa88.2cfaa8"]]},{"id":"f3adaa88.2cfaa8","type":"switch","z":"67b43599.32cc2c","name":"","property":"buys_product","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":280,"wires":[[],["82dfacd1.0450d"]]},{"id":"1dadb6.c828124a","type":"function","z":"67b43599.32cc2c","name":"Logout / Timeout","func":"msg.wait_time_ms =   60000;    //minutes \nmsg.wait_random_min =    2;\nmsg.wait_random_max =   60;\n\n\n\nmsg.action = \"Logout / Timed Out\";\nmsg.stage = \"Online Shop\";\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":60,"wires":[["2264634b.6f481c"]]},{"id":"2264634b.6f481c","type":"subflow:8e826397.79246","z":"67b43599.32cc2c","name":"","env":[],"x":1230,"y":80,"wires":[[]]},{"id":"e9c42016.5ac7a","type":"function","z":"67b43599.32cc2c","name":"Init","func":"msg.did_call_hotline = 0;\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":210,"y":60,"wires":[["f3917339.a3222"]]},{"id":"339a335.989a4cc","type":"function","z":"b381444b.015aa8","name":"Prepare CSV","func":"var originalPayload = msg.payload;\n\nvar newPayload = {};\n\nnewPayload.timestamp   = msg.timestamp;\nnewPayload.client_ip   = msg.client_ip;\nnewPayload.session_id  = msg.session_id;\nnewPayload.basket_id   = msg.basket_id;\nnewPayload.shipping_id = msg.shipping_id;\nnewPayload.action      = msg.action;\nnewPayload.stage       = msg.stage;\nnewPayload.product_id  = msg.product_id;\nnewPayload.country     = msg.country;\n\n\nmsg.payload = newPayload\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["69b4c636.bffd88"]]},{"id":"69b4c636.bffd88","type":"csv","z":"b381444b.015aa8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\r","temp":"timestamp, shipping_id, action, stage, product_id, country","skip":"0","x":770,"y":300,"wires":[["822e6fd1.c450a"]]},{"id":"822e6fd1.c450a","type":"file","z":"b381444b.015aa8","name":"","filename":"/Users/tomm/Downloads/retail/retail_delivery.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1060,"y":300,"wires":[[]]},{"id":"d5d0488c.c9e678","type":"function","z":"7587ee11.aa269","name":"Prepare CSV","func":"var originalPayload = msg.payload;\n\nvar newPayload = {};\n\nnewPayload.timestamp   = msg.timestamp;\nnewPayload.client_ip   = msg.client_ip;\nnewPayload.session_id  = msg.session_id;\nnewPayload.basket_id   = msg.basket_id;\nnewPayload.shipping_id = msg.shipping_id;\nnewPayload.action      = msg.action;\nnewPayload.stage       = msg.stage;\nnewPayload.product_id  = msg.product_id;\nnewPayload.country     = msg.country;\n\n\nmsg.payload = newPayload\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":120,"wires":[["12333bad.931664"]]},{"id":"12333bad.931664","type":"csv","z":"7587ee11.aa269","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\r","temp":"timestamp, session_id, basket_id, action, stage, product_id, country","skip":"0","x":830,"y":120,"wires":[["6983bd5d.57d754"]]},{"id":"6983bd5d.57d754","type":"file","z":"7587ee11.aa269","name":"","filename":"/Users/tomm/Downloads/retail/retail_online_shop.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1130,"y":120,"wires":[[]]},{"id":"ae004c29.7ffc6","type":"function","z":"14635859.ef9c28","name":"Prepare CSV","func":"var originalPayload = msg.payload;\n\nvar newPayload = {};\n\nnewPayload.timestamp   = msg.timestamp;\nnewPayload.client_ip   = msg.client_ip;\nnewPayload.session_id  = msg.session_id;\nnewPayload.basket_id   = msg.basket_id;\nnewPayload.shipping_id = msg.shipping_id;\nnewPayload.action      = msg.action;\nnewPayload.stage       = msg.stage;\nnewPayload.product_id  = msg.product_id;\nnewPayload.country     = msg.country;\n\n\nmsg.payload = newPayload\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":150,"wires":[["bae75627.bd1578"]]},{"id":"bae75627.bd1578","type":"csv","z":"14635859.ef9c28","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\r","temp":"timestamp,session_id, basket_id,shipping_id, action, stage, product_id, country","skip":"0","x":560,"y":150,"wires":[["2ae56e7c.da16e2"]]},{"id":"2ae56e7c.da16e2","type":"file","z":"14635859.ef9c28","name":"","filename":"/Users/tomm/Downloads/retail/retail_warehouse.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":860,"y":150,"wires":[[]]},{"id":"40bf1f14.6f776","type":"function","z":"f16eab4e.a11b28","name":"Pay By Invoice","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =    1;\nmsg.wait_random_max =   10;\n\n\nmsg.action = \"Pay By Invoice\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":220,"wires":[["c7f295ce.4e3508"]]},{"id":"b4a9b3a1.5ce94","type":"function","z":"f16eab4e.a11b28","name":"Pay with PayPal","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =    1;\nmsg.wait_random_max =   10;\n\n\nmsg.action = \"Pay with PayPal\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":300,"wires":[["c7f295ce.4e3508"]]},{"id":"cd78c784.27e6e8","type":"function","z":"3a2a8b1a.4b7394","name":"Pay with PayPal","func":"diff = 10;\n\nvar d1 = new Date(msg.timestamp)\nvar d2 = new Date();\n\nd2.setTime(d1.getTime() + (diff * 1000));\nmsg.timestamp = d2.toString();\n\nmsg.action = \"Pay with PayPal\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":450,"wires":[["b69ca6d.1b5b358","9b3e5754.39f8b8"]]},{"id":"b69ca6d.1b5b358","type":"subflow:8e826397.79246","z":"3a2a8b1a.4b7394","name":"","x":1060,"y":510,"wires":[[]]},{"id":"9b3e5754.39f8b8","type":"subflow:7587ee11.aa269","z":"3a2a8b1a.4b7394","name":"","x":1100,"y":570,"wires":[]},{"id":"d3bf5fec.03158","type":"subflow:27d2cb9c.1a7874","z":"f16eab4e.a11b28","name":"","env":[],"x":810,"y":380,"wires":[["ecd669db.23c258"]]},{"id":"82dfacd1.0450d","type":"function","z":"67b43599.32cc2c","name":"Add Product in Basket","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =   10;\nmsg.wait_random_max =  120;\n\n\nproduct_id = generateRandomNumber(1,20);\n\nmsg.action     = \"Add Product\";\nmsg.stage      = \"Online Shop\";\nmsg.product_id = product_id;\nmsg.quantity   = generateRandomNumber(1,4);\nmsg.basket_id  = \"B-\" + (10000 + msg.gcount);\n\nmsg.products_in_basket += 1;\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":1020,"y":400,"wires":[["fb443858.cb8988"]]},{"id":"98fa1769.be79f8","type":"function","z":"3d5034ff.69fedc","name":"Inform about Delay","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =    1;\nmsg.wait_random_max =    3;\n\nmsg.action = \"Inform about delay\"\nmsg.stage  = \"Fullfilment\";\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["1e0f0f51.4780b1"]]},{"id":"9d0b7be1.2045c8","type":"function","z":"3d5034ff.69fedc","name":"Assign Shipping ID","func":"msg.wait_time_ms =  3600000;\nmsg.wait_random_min =     2;\nmsg.wait_random_max =     6;\n\n\nif(msg.further_path != \"Inform about delay\"){\n    msg.wait_time_ms =    60000;\n    msg.wait_random_min =     5;\n    msg.wait_random_max =    15;\n} \n\nmsg.action = \"Shipping ID Assigned\";\nmsg.stage = \"Fullfilment\";\nmsg.basket_id = \"\"\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":710,"y":500,"wires":[["b9f1caeb.33f108"]]},{"id":"ee5558a6.c4b118","type":"function","z":"3d5034ff.69fedc","name":"Prepare Package for Shipping","func":"msg.wait_time_ms =    60000;\nmsg.wait_random_min =     1;\nmsg.wait_random_max =     5;\n\n\nmsg.action = \"Prepare for Delivery\";\nmsg.stage = \"Fullfilment\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1150,"y":500,"wires":[["e6a973.0ec1369"]]},{"id":"f18d3a2.d4b8cc8","type":"function","z":"3d5034ff.69fedc","name":"Offer Cancelation","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =    2;\nmsg.wait_random_max =    8;\n\n\nmsg.action = \"Offer Cancelation\";\nmsg.stage  = \"Fullfilment\";\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["299e579a.d85f38"]]},{"id":"9b247ed1.f84fc","type":"function","z":"3d5034ff.69fedc","name":"Does Customer Cancel?","func":"diff = generateRandomNumber(1,5);\n\nmsg.customer_cancels = 0;\n\nvar options = generateRandomNumber(0,100);\n\nif(options >= 65)\n    msg.customer_cancels = 1;\n \n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":1030,"y":160,"wires":[["870f5d29.49b54"]]},{"id":"870f5d29.49b54","type":"switch","z":"3d5034ff.69fedc","name":"Canceled?","property":"customer_cancels","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1250,"y":160,"wires":[["56ea2ba3.d49e44"],["867410e8.60b24"]]},{"id":"56ea2ba3.d49e44","type":"function","z":"3d5034ff.69fedc","name":"Order Canceled","func":"msg.wait_time_ms =   3600000;  //hours\nmsg.wait_random_min =      1;\nmsg.wait_random_max =     24;\n\n\nmsg.action = \"Order Canceled\";\nmsg.stage = \"Fullfilment\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1440,"y":100,"wires":[["20e2e0c3.bd705"]]},{"id":"867410e8.60b24","type":"function","z":"3d5034ff.69fedc","name":"Customer waits for Fulfillment","func":"msg.wait_time_ms =  86400000;  //days\nmsg.wait_random_min =      1;\nmsg.wait_random_max =      3;\n\n\nmsg.action = \"Customer waits for fullfilment\";\nmsg.stage  = \"Fullfilment\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":260,"wires":[["92fafa0.d917308"]]},{"id":"80abf982.4a7428","type":"function","z":"3d5034ff.69fedc","name":"Recommend Alternative","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =    1;\nmsg.wait_random_max =    3;\n\n\nmsg.action = \"Recommend Alternative\"\nmsg.stage  = \"Fullfilment\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["2ed3e89b.718308"]]},{"id":"4da70154.1898f","type":"function","z":"8e826397.79246","name":"write Headers","func":"node.warn(\"Deleting target file...\")\n\nmsg.payload = [\n    \"timestamp\",\n    \"client_ip\",\n    \"session_id\",\n    \"source_system\",\n    \"action\",\n    \"basket_id\",\n    \"product_id\",\n    \"quantity\",\n    \"order_id\",\n    \"shipping_id\",\n    \"duration_ms\"\n];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":200,"wires":[["44f2daee.548624"]]},{"id":"def5df4d.e807","type":"comment","z":"8e826397.79246","name":"if the file does not exist, re-write the headers","info":"","x":570,"y":240,"wires":[]},{"id":"6a2dadf3.944734","type":"fs-ops-access","z":"8e826397.79246","name":"Target File exists?","path":"/Users/tomm/Downloads","pathType":"str","filename":"retail.csv","filenameType":"str","read":true,"write":true,"throwerror":false,"x":270,"y":140,"wires":[["7cdf3ce0.f51bd4"],["4da70154.1898f"]]},{"id":"ca1b2870.c827b8","type":"function","z":"10c44a3.64f0db6","name":"Login into WebShop","func":"msg.wait_time_ms =       0;\nmsg.wait_random_min =    0;\nmsg.wait_random_max =    0;\n\nmsg.action             = \"Login to Web-Shop\";\nmsg.products_in_basket = 0;\nmsg.basket_id          = \"\";\nmsg.stage              = \"Online Shop\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["81905e67.ce56c"]]},{"id":"81905e67.ce56c","type":"subflow:8e826397.79246","z":"10c44a3.64f0db6","name":"","env":[],"x":790,"y":160,"wires":[["d03a43b.852e8c"]]},{"id":"d3e155cf.54d5c8","type":"subflow:10c44a3.64f0db6","z":"9f4c332c.51f92","name":"","env":[],"x":880,"y":260,"wires":[["285d452c.18aeda"]]},{"id":"d03a43b.852e8c","type":"subflow:67b43599.32cc2c","z":"10c44a3.64f0db6","name":"","env":[],"x":1040,"y":160,"wires":[["5e9854ea.2dbb7c"]]},{"id":"5e9854ea.2dbb7c","type":"subflow:f16eab4e.a11b28","z":"10c44a3.64f0db6","name":"","env":[],"x":1310,"y":160,"wires":[[]]},{"id":"5abcad47.d634b4","type":"switch","z":"67b43599.32cc2c","name":"logged out?","property":"logout","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":60,"wires":[["1dadb6.c828124a"],["eecc2fdd.ec74c"]]},{"id":"f3917339.a3222","type":"function","z":"67b43599.32cc2c","name":"logged out?","func":"var help = 0\nhelp = generateRandomNumber(0,100);\n\nif(help >= 93 )\n    msg.logout = 1;\nelse\n    msg.logout = 0;\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}\n\n","outputs":1,"noerr":0,"x":390,"y":60,"wires":[["5abcad47.d634b4"]]},{"id":"c7325fff.a6593","type":"debug","z":"8e826397.79246","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":160,"wires":[]},{"id":"501e402c.50c07","type":"switch","z":"9f4c332c.51f92","name":"check journey counter","property":"gcount","propertyType":"msg","rules":[{"t":"lte","v":"3000","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":560,"y":260,"wires":[["d3e155cf.54d5c8"],["67437272.e3bedc"]]},{"id":"6de7aed8.999c2","type":"function","z":"9f4c332c.51f92","name":"reset gcount = 0","func":"global.set('gcount',0);\n\nnode.warn(\"Journey Count = 0;\")\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["6221331a.90bd6c"]]},{"id":"b79d8d3f.19509","type":"inject","z":"9f4c332c.51f92","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["6de7aed8.999c2"]]},{"id":"1ef7251e.964e2b","type":"comment","z":"9f4c332c.51f92","name":"Use this trigger to reset & clear the output file","info":"","x":210,"y":60,"wires":[]},{"id":"2fc0aa0d.1d5076","type":"comment","z":"9f4c332c.51f92","name":"Set  this counter = number of journeys","info":"","x":590,"y":220,"wires":[]},{"id":"91aa5d23.8ed6","type":"function","z":"67b43599.32cc2c","name":"Checkout","func":"msg.wait_time_ms =    1000;\nmsg.wait_random_min =    1;\nmsg.wait_random_max =    2;\n\n\nmsg.action = \"Checkout\";\nmsg.stage = \"Online Shop\";\nmsg.product_id = \"\"\nmsg.quantity   = \"\";\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":720,"y":780,"wires":[["e14c4619.64eab8"]]},{"id":"7cdf3ce0.f51bd4","type":"function","z":"8e826397.79246","name":"set Timestamp & output fields","func":"\n//  Set the timestamp for this step using the msg.wait_time_ms and any needed randomness)\nvar delay = generateRandomNumber(msg.wait_random_min, msg.wait_random_max);\nmsg.duration_ms = msg.wait_time_ms * delay;  \n\n\n// for testing set every duration to 1 second, it's easy to view in the debug ;-)\n//msg.duration_ms = 1000;\n\n\n// increment the last timestamp for this step's duration\nvar ts = new Date(msg.payload.timestamp);\nts.setTime( ts.getTime() + (msg.duration_ms) );\n\nmsg.payload.timestamp   = ts;\n\n// set the msg.payload from the msg. variables\nmsg.payload.basket_id   = msg.basket_id;\nmsg.payload.order_id    = msg.order_id;\nmsg.payload.shipping_id = msg.shipping_id;\nmsg.payload.action      = msg.action;\nmsg.payload.stage       = msg.stage;\nmsg.payload.product_id  = msg.product_id;\nmsg.payload.quantity    = msg.quantity;\nmsg.payload.duration_ms = msg.duration_ms;\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}\n\n","outputs":1,"noerr":0,"x":590,"y":100,"wires":[["44f2daee.548624"]]},{"id":"6221331a.90bd6c","type":"fs-ops-delete","z":"9f4c332c.51f92","name":"","path":"/Users/tomm/Downloads","pathType":"str","filename":"retail.csv","filenameType":"str","x":530,"y":100,"wires":[["b64b011c.a80cb"]]},{"id":"b64b011c.a80cb","type":"subflow:8e826397.79246","z":"9f4c332c.51f92","name":"","env":[],"x":770,"y":100,"wires":[[]]},{"id":"a25a0189.eb4d2","type":"comment","z":"9f4c332c.51f92","name":"Use this trigger to create journeys","info":"","x":180,"y":220,"wires":[]},{"id":"fcbfe87a.848218","type":"data-generator","z":"10c44a3.64f0db6","name":"Initialize Journey","field":"payload","fieldType":"msg","syntax":"text","template":"{   \"timestamp\": \"{{date '2019-01-10' '2020-03-09' 'YYYY-MM-DD'}}T{{time '00:00:00' '23:59:59' 'hh:mm:ss'}}Z\",\n    \"client_ip\": \"{{ipv4}}\",\n    \"session_id\": \"{{guid}}\",\n    \"country\": \"{{country}}\"\n}","x":190,"y":60,"wires":[["8213f9f9.227828"]]},{"id":"42dd25e6.03174c","type":"function","z":"9f4c332c.51f92","name":"init loop counter","func":"// global variable to count the number of journeys created\nvar gcount=global.get('gcount') || 0;\ngcount++;\nglobal.set('gcount',gcount);\nmsg.gcount = gcount;\n\nnode.warn(\"Starting Journey number: \" + msg.gcount);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["501e402c.50c07"]]},{"id":"6f8cdb26.c8b0e4","type":"function","z":"8e826397.79246","name":"Select elements to write","func":"// Now Pick the fields we want to write out.\nvar originalPayload = msg.payload;\n\nvar newPayload = {};\n\n//newPayload.timestamp   = global.get('gtimestamp');\nnewPayload.timestamp   = msg.payload.timestamp;\nnewPayload.client_ip   = msg.payload.client_ip;\nnewPayload.session_id  = msg.payload.session_id;\nnewPayload.basket_id   = msg.basket_id;\nnewPayload.order_id    = msg.order_id;\nnewPayload.shipping_id = msg.shipping_id;\nnewPayload.action      = msg.action;\nnewPayload.stage       = msg.stage;\nnewPayload.product_id  = msg.product_id;\n//newPayload.country     = msg.country;\nnewPayload.duration_ms = msg.duration_ms;\n\nmsg.payload = newPayload\n\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":420,"wires":[[]]},{"id":"8213f9f9.227828","type":"function","z":"10c44a3.64f0db6","name":"convert to JSON & set timestamp","func":"msg.payload = JSON.parse(msg.payload);\n\nglobal.set('gtimestamp',msg.payload.timestamp);\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["ca1b2870.c827b8"]]},{"id":"4212824.b28867c","type":"comment","z":"8e826397.79246","name":"write data to the file","info":"","x":570,"y":140,"wires":[]},{"id":"1057e441.505f1c","type":"data-generator","z":"3d5034ff.69fedc","name":"shipping id","field":"shipping_id","fieldType":"msg","syntax":"text","template":"S-{{int 0 9999}}-{{int 0 900}}-{{int 0 999}}","x":510,"y":420,"wires":[["9d0b7be1.2045c8"]]},{"id":"67437272.e3bedc","type":"function","z":"9f4c332c.51f92","name":"STOP Executing","func":"node.warn(\"all finished, just looping now \" + msg.gcount);\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":340,"wires":[["425dc9ff.05d048"]]},{"id":"425dc9ff.05d048","type":"exit","z":"9f4c332c.51f92","name":"Use this to stop node-red completely","exitcode":"0","x":990,"y":400,"wires":[]},{"id":"6af932d2.41b5ac","type":"function","z":"a68c337.ac348d","name":"Customer Return?","func":"\nvar options = generateRandomNumber(0,100);\n\nif(options >= 94)\n    msg.cust_return = 1\nelse \n    msg.cust_return = 0\n \n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value) ;\n}","outputs":1,"noerr":0,"x":950,"y":600,"wires":[["66c95f16.880ad"]]},{"id":"66c95f16.880ad","type":"switch","z":"a68c337.ac348d","name":"","property":"cust_return","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":600,"wires":[["d97fb278.f2cb7"],[]]},{"id":"f72f5da7.ac6c9","type":"subflow:8e826397.79246","z":"67b43599.32cc2c","name":"","env":[],"x":890,"y":120,"wires":[["f8af4060.f2a7"]]},{"id":"6ee47739.349ba8","type":"subflow:8e826397.79246","z":"67b43599.32cc2c","name":"","env":[],"x":1070,"y":220,"wires":[["2954489e.fc57d8"]]},{"id":"fb443858.cb8988","type":"subflow:8e826397.79246","z":"67b43599.32cc2c","name":"","env":[],"x":1230,"y":400,"wires":[["625293fe.198b4c"]]},{"id":"e14c4619.64eab8","type":"subflow:8e826397.79246","z":"67b43599.32cc2c","name":"","env":[],"x":910,"y":780,"wires":[[]]},{"id":"62798309.e701cc","type":"subflow:8e826397.79246","z":"f16eab4e.a11b28","name":"","env":[],"x":510,"y":140,"wires":[["e1438909.c88bb8"]]},{"id":"be2dfff4.befb4","type":"subflow:8e826397.79246","z":"f16eab4e.a11b28","name":"","env":[],"x":1450,"y":300,"wires":[[]]},{"id":"ea3c6093.dd4e1","type":"subflow:8e826397.79246","z":"27d2cb9c.1a7874","name":"","env":[],"x":650,"y":80,"wires":[["1e7fde49.a6b292"]]},{"id":"289956fd.23552a","type":"subflow:8e826397.79246","z":"27d2cb9c.1a7874","name":"","env":[],"x":1370,"y":180,"wires":[[]]},{"id":"4fb766a8.fd28e8","type":"subflow:8e826397.79246","z":"27d2cb9c.1a7874","name":"","env":[],"x":750,"y":320,"wires":[["9eaa3a0.edb04c8"]]},{"id":"a03b4409.b0fe68","type":"subflow:8e826397.79246","z":"3d5034ff.69fedc","name":"","x":530,"y":60,"wires":[["427b3b10.f83cf4"]]},{"id":"299e579a.d85f38","type":"subflow:8e826397.79246","z":"3d5034ff.69fedc","name":"","x":770,"y":140,"wires":[["9b247ed1.f84fc"]]},{"id":"2ed3e89b.718308","type":"subflow:8e826397.79246","z":"3d5034ff.69fedc","name":"","x":770,"y":180,"wires":[["9b247ed1.f84fc"]]},{"id":"1e0f0f51.4780b1","type":"subflow:8e826397.79246","z":"3d5034ff.69fedc","name":"","env":[],"x":770,"y":220,"wires":[["1057e441.505f1c"]]},{"id":"20e2e0c3.bd705","type":"subflow:8e826397.79246","z":"3d5034ff.69fedc","name":"","x":1650,"y":100,"wires":[[]]},{"id":"92fafa0.d917308","type":"subflow:8e826397.79246","z":"3d5034ff.69fedc","name":"","env":[],"x":990,"y":340,"wires":[["1057e441.505f1c"]]},{"id":"b9f1caeb.33f108","type":"subflow:8e826397.79246","z":"3d5034ff.69fedc","name":"","x":910,"y":500,"wires":[["ee5558a6.c4b118"]]},{"id":"e28c91bb.8b25","type":"subflow:8e826397.79246","z":"3d5034ff.69fedc","name":"","x":1390,"y":600,"wires":[[]]},{"id":"a1b23fbb.28919","type":"subflow:8e826397.79246","z":"a68c337.ac348d","name":"","x":690,"y":140,"wires":[["52416939.d34728"]]},{"id":"92a5bdfc.60118","type":"subflow:8e826397.79246","z":"a68c337.ac348d","name":"","x":690,"y":200,"wires":[["42fbbb0f.392724"]]},{"id":"f72aed88.83c1d","type":"subflow:8e826397.79246","z":"a68c337.ac348d","name":"","x":710,"y":260,"wires":[["5153e684.812608"]]},{"id":"27a6f085.2b7d2","type":"subflow:8e826397.79246","z":"a68c337.ac348d","name":"","x":730,"y":600,"wires":[["6af932d2.41b5ac"]]},{"id":"33ad9fc7.10276","type":"subflow:8e826397.79246","z":"a68c337.ac348d","name":"","x":810,"y":340,"wires":[["86be0afc.249668"]]},{"id":"7ff8f259.e8789c","type":"subflow:8e826397.79246","z":"a68c337.ac348d","name":"","x":770,"y":540,"wires":[["d46a4205.3e03f"]]},{"id":"d97fb278.f2cb7","type":"function","z":"a68c337.ac348d","name":"Customer Returns","func":"msg.wait_time_ms =  86400000;    //1 day\nmsg.wait_random_min =      2;\nmsg.wait_random_max =      6;\n\nmsg.action = \"Customer Return\";\nmsg.stage  = \"Delivery\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1310,"y":600,"wires":[["97c2ae44.1df1c"]]}]