reverse-logistics/.reverse-logistics.json.backup
[{"id":"7556c719.7d1938","type":"tab","label":"Reverse Logistics","disabled":false,"info":""},{"id":"f3da5730.11ed38","type":"inject","z":"7556c719.7d1938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["47634a6f.011904"]]},{"id":"53dc60f0.4d3b4","type":"data-generator","z":"7556c719.7d1938","name":"Initialize Variables","field":"payload","fieldType":"msg","syntax":"text","template":"{   \"guid\":\"{{guid}}\",\n    \"timestamp\": \"{{date '2019-01-05' '2020-03-05' 'YYYY-MM-DD'}}T{{time '00:00:00' '23:59:59' 'hh:mm:ss'}}Z\",\n    \"name\": \"{{firstName}} {{lastName}}\",\n    \"work\": \"{{company}}\",\n    \"email\": \"{{email}}\",\n    \"address\": \"{{int 1 100}} {{street}}\",\n    \"country\": \"{{country}}\" }","x":310,"y":180,"wires":[["585feb13.78a8f4"]]},{"id":"ef1cf649.b78578","type":"debug","z":"7556c719.7d1938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":480,"wires":[]},{"id":"585feb13.78a8f4","type":"json","z":"7556c719.7d1938","name":"to JSON","property":"payload","action":"obj","pretty":true,"x":520,"y":180,"wires":[["4a8686c4.e2dfd8"]]},{"id":"52c61054.bc25a","type":"file","z":"7556c719.7d1938","name":"write output file","filename":"output.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":860,"y":480,"wires":[["ef1cf649.b78578","53dc60f0.4d3b4"]]},{"id":"1069a027.480b4","type":"csv","z":"7556c719.7d1938","name":"to CSV (w/headers)","sep":",","hdrin":true,"hdrout":true,"multi":"one","ret":"\\n","temp":"counter,guid,timestamp,name,country","skip":"0","strings":true,"x":590,"y":460,"wires":[["52c61054.bc25a"]]},{"id":"ab9ecd8d.d7999","type":"switch","z":"7556c719.7d1938","name":"loop counter","property":"gcount","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"lte","v":"gmax_loops","vt":"global"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":330,"y":480,"wires":[["1069a027.480b4"],["2f0475b8.62a25a"],[]]},{"id":"2f0475b8.62a25a","type":"csv","z":"7556c719.7d1938","name":"to CSV (no header)","sep":",","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"counter,guid,timestamp,name,country","skip":"0","strings":true,"x":590,"y":500,"wires":[["52c61054.bc25a"]]},{"id":"4a8686c4.e2dfd8","type":"function","z":"7556c719.7d1938","name":"increment loop counter","func":"global.set(\"gcount\",global.get(\"gcount\")+1);\n\nmsg.payload.counter = global.get(\"gcount\");\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":180,"wires":[["c19fdffc.c6d85"]]},{"id":"47634a6f.011904","type":"function","z":"7556c719.7d1938","name":"set Globals","func":"global.set(\"gcount\",0);\nglobal.set(\"gfilename\",\"output.csv\");\nglobal.set(\"gmax_loops\",4);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["b707f114.3610d"]]},{"id":"b707f114.3610d","type":"fs-ops-delete","z":"7556c719.7d1938","name":"Delete output file","path":"","pathType":"str","filename":"gfilename","filenameType":"global","x":470,"y":100,"wires":[["53dc60f0.4d3b4"]]},{"id":"c19fdffc.c6d85","type":"function","z":"7556c719.7d1938","name":"Insert your custom processing here!","func":"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":280,"wires":[["ab9ecd8d.d7999"]]}]