reverse-logistics/reverse-logistics.json
[{"id":"7556c719.7d1938","type":"tab","label":"Reverse Logistics","disabled":false,"info":""},{"id":"9e99bcab.ddbf6","type":"subflow","name":"Write to File","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"573b7b68.169584"}]}],"out":[{"x":1260,"y":80,"wires":[{"id":"84301154.9e609","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f3da5730.11ed38","type":"inject","z":"7556c719.7d1938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["47634a6f.011904"]]},{"id":"53dc60f0.4d3b4","type":"data-generator","z":"7556c719.7d1938","name":"Initialize Variables","field":"payload","fieldType":"msg","syntax":"text","template":"{   \n    \"timestamp\": \"{{date '2019-01-05' '2020-03-05' 'YYYY-MM-DD'}}T{{time '00:00:00' '23:59:59' 'hh:mm:ss'}}Z\",\n    \"customerID\":\"C-{{int 10000 90000}}\",\n    \"orderID\":\"O-{{int 1000 9999}}-{{int 10 99}}\",\n    \"productID\":\"{{int 1 20}}\",\n    \"zipcode\": \"{{zipcode}}\",\n    \"email\": \"{{email}}\"\n}\n\n","x":770,"y":120,"wires":[["585feb13.78a8f4"]]},{"id":"585feb13.78a8f4","type":"json","z":"7556c719.7d1938","name":"to JSON","property":"payload","action":"obj","pretty":true,"x":960,"y":120,"wires":[["4a8686c4.e2dfd8"]]},{"id":"4a8686c4.e2dfd8","type":"function","z":"7556c719.7d1938","name":"increment loop counter","func":"global.set(\"gcount\",global.get(\"gcount\")+1);\n\nmsg.payload.counter = global.get(\"gcount\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":120,"wires":[["c19fdffc.c6d85"]]},{"id":"47634a6f.011904","type":"function","z":"7556c719.7d1938","name":"set Globals","func":"global.set(\"gheaders\",\"yes\");\nglobal.set(\"gcount\",0);             \nglobal.set(\"gfilename\",\"returns.csv\");\nglobal.set(\"gmax_loops\",100);\n\n\nglobal.set(\"seconds\",  1000);\nglobal.set(\"minutes\", 60000);\nglobal.set(\"hours\", 3600000);\nglobal.set(\"days\", 86400000);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["b707f114.3610d"]]},{"id":"b707f114.3610d","type":"fs-ops-delete","z":"7556c719.7d1938","name":"Delete output file","path":"","pathType":"str","filename":"gfilename","filenameType":"global","x":530,"y":120,"wires":[["53dc60f0.4d3b4"]]},{"id":"c19fdffc.c6d85","type":"function","z":"7556c719.7d1938","name":"RMA Requested","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 1;\nmsg.wait_random_max = 10;\nmsg.wait_time_ms    = global.get(\"seconds\");\n\nmsg.payload.step    = \"RMA Requested\"\n\n// add a reason for the return\nvar a = generateRandomNumber(1,100);\nif(a > 85)    // 15% recalls\n    msg.payload.return_reason = \"Item has been recalled\";\n    else if(a > 65)  // 20% defective\n        msg.payload.return_reason = \"Item is defective\";\n        else {       // 65%  everything else\n            var reasons = ['Ordered Wrong Item','Wrong Size','Wrong Item Shipped','Did not order'];\n            msg.payload.return_reason = reasons[generateRandomNumber(0,3)];\n        }\n\nreturn msg;\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value);\n}\n","outputs":1,"noerr":0,"x":220,"y":220,"wires":[["b59ea21d.b153a"]]},{"id":"94dd5679.756d58","type":"debug","z":"9e99bcab.ddbf6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1390,"y":180,"wires":[]},{"id":"564b2fc4.288ce","type":"file","z":"9e99bcab.ddbf6","name":"write output file","filename":"returns.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":920,"y":180,"wires":[["84301154.9e609"]]},{"id":"7a428d72.2ee894","type":"csv","z":"9e99bcab.ddbf6","name":"to CSV (w/headers)","sep":",","hdrin":true,"hdrout":true,"multi":"one","ret":"\\n","temp":"counter,step,timestamp,customerID,orderID,productID,return_reason,return_status,email","skip":"0","strings":true,"x":690,"y":160,"wires":[["564b2fc4.288ce"]]},{"id":"722c36bc.d8d7e8","type":"csv","z":"9e99bcab.ddbf6","name":"to CSV (no header)","sep":",","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"counter,step,timestamp,customerID,orderID,productID,return_reason,return_status,email","skip":"0","strings":true,"x":690,"y":200,"wires":[["564b2fc4.288ce"]]},{"id":"573b7b68.169584","type":"function","z":"9e99bcab.ddbf6","name":"Increment timestamp","func":"//  Set the timestamp for this step using the msg.wait_time_ms and any needed randomness)\nvar delay = generateRandomNumber(msg.wait_random_min, msg.wait_random_max);\nvar duration_ms = msg.wait_time_ms * delay;  \n\n// for testing set every duration to 1 second, it's easy to view in the debug ;-)\n//duration_ms = 1000;\n\n\n// increment the last timestamp for this step's duration\nvar ts = new Date(msg.payload.timestamp);\nts.setTime( ts.getTime() + (duration_ms) );\n\n// set the msg.payload variables as appropriate\nmsg.payload.timestamp   = ts;\nmsg.payload.duration_ms = duration_ms;\n\n//save the JSON for use later\nmsg.json = msg.payload\n\n// shall we stop?\nif(global.get(\"gcount\")  >  global.get(\"gmax_loops\") )\n{\n    global.set(\"gheaders\",\"stop\");   // we'll use this to decide when to stop processing\n}\n\nreturn msg;\n\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value);\n}\n","outputs":1,"noerr":0,"x":170,"y":180,"wires":[["c08f5059.704cb"]]},{"id":"b59ea21d.b153a","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":410,"y":220,"wires":[["e1166d77.25e7c"]]},{"id":"2b41e0c3.4350f","type":"function","z":"7556c719.7d1938","name":"RMA Issued","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 5;\nmsg.wait_random_max = 20;\nmsg.wait_time_ms    = global.get(\"minutes\");\n\nmsg.payload.step    = \"RMA Issued\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":240,"wires":[["d27f1b82.293808"]]},{"id":"d27f1b82.293808","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":1370,"y":240,"wires":[["216a0f0d.0f0fd"]]},{"id":"84301154.9e609","type":"function","z":"9e99bcab.ddbf6","name":"reset payload","func":"msg.payload = msg.json;\n\nglobal.set(\"gheaders\",\"no\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":180,"wires":[["94dd5679.756d58"]]},{"id":"c08f5059.704cb","type":"switch","z":"9e99bcab.ddbf6","name":"Write Headers? / Stop?","property":"gheaders","propertyType":"global","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":430,"y":180,"wires":[["7a428d72.2ee894"],["722c36bc.d8d7e8"],[]]},{"id":"42234c04.3431e4","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":950,"y":660,"wires":[["1dfc9445.8a8bdc"]]},{"id":"b80dfe37.22c43","type":"data-generator","z":"7556c719.7d1938","name":"create RMA","field":"payload.rma","fieldType":"msg","syntax":"text","template":"RMA-{{int 100000 999999}}","x":1010,"y":240,"wires":[["2b41e0c3.4350f"]]},{"id":"6fa31d59.761844","type":"function","z":"7556c719.7d1938","name":"RMA Refused","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 5;\nmsg.wait_random_max = 20;\nmsg.wait_time_ms    = global.get(\"minutes\");\n\nmsg.payload.step    = \"RMA Refused\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":200,"wires":[["6041541c.638c5c"]]},{"id":"e1166d77.25e7c","type":"function","z":"7556c719.7d1938","name":"90% approved","func":"var a = generateRandomNumber(1,100);\n\nmsg.switch = \"approved\";\nif (a > 90)\n    msg.switch = \"rejected\";\n\nreturn msg;\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value);\n}\n","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["dca72aa1.2d94a8"]]},{"id":"dca72aa1.2d94a8","type":"switch","z":"7556c719.7d1938","name":"return allowed?","property":"switch","propertyType":"msg","rules":[{"t":"eq","v":"rejected","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":800,"y":220,"wires":[["6fa31d59.761844"],["b80dfe37.22c43"]]},{"id":"6041541c.638c5c","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":1190,"y":200,"wires":[["d79c5203.774f1"]]},{"id":"216a0f0d.0f0fd","type":"function","z":"7556c719.7d1938","name":"ASN Received","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 3;\nmsg.wait_random_max = 48;\nmsg.wait_time_ms    = global.get(\"hours\");\n\nmsg.payload.step    = \"ASN Received\"\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":320,"wires":[["54e1a10a.32e4f"]]},{"id":"54e1a10a.32e4f","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":410,"y":320,"wires":[["c4ba103.5a790f"]]},{"id":"c4ba103.5a790f","type":"function","z":"7556c719.7d1938","name":"Item Received","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 3;\nmsg.wait_random_max = 7;\nmsg.wait_time_ms    = global.get(\"days\");\n\nmsg.payload.step    = \"Item Received\"\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":320,"wires":[["2f43f8c3.00eed8"]]},{"id":"2f43f8c3.00eed8","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":790,"y":320,"wires":[["9e993001.5bfb4"]]},{"id":"9e993001.5bfb4","type":"function","z":"7556c719.7d1938","name":"Item Inspected","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 3;\nmsg.wait_random_max = 7;\nmsg.wait_time_ms    = global.get(\"days\");\n\nmsg.payload.step    = \"Item Inspected\"\n\n\nvar a = generateRandomNumber(1,100);\nmsg.payload.return_status = \"Return Accepted\";\nif (a > 95){\n    msg.payload.return_status = \"Return Rejected\";\n}\n\nreturn msg;\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value);\n}\n","outputs":1,"noerr":0,"x":1020,"y":320,"wires":[["27aea2b0.3cd62e"]]},{"id":"27aea2b0.3cd62e","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":1210,"y":320,"wires":[["e2801163.c7b35"]]},{"id":"4e9f071.64f75f8","type":"switch","z":"7556c719.7d1938","name":"Return Type","property":"payload.return_reason","propertyType":"msg","rules":[{"t":"eq","v":"Item has been recalled","vt":"str"},{"t":"eq","v":"Item is defective","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":410,"y":520,"wires":[["d220b8c9.2c17c8"],["ae510ea0.c3a4b"],["b18f7edb.34062"]]},{"id":"8e3a2ac6.51bb08","type":"function","z":"7556c719.7d1938","name":"Reject Return","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 1;\nmsg.wait_random_max = 10;\nmsg.wait_time_ms    =global.get(\"minutes\");\n\nmsg.payload.step          = \"Reject Return\"\nmsg.payload.return_reason = \"Unable to accept return - out of policy\";\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":440,"wires":[["3079b915.5d1be6"]]},{"id":"f674f40d.04ca38","type":"function","z":"7556c719.7d1938","name":"Return to Stock","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 1;\nmsg.wait_random_max = 10;\nmsg.wait_time_ms    =global.get(\"minutes\");\n\nmsg.payload.step    = \"Return to Stock\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":560,"wires":[["46298bf5.d38694"]]},{"id":"d220b8c9.2c17c8","type":"function","z":"7556c719.7d1938","name":"Recall Item","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 1;\nmsg.wait_random_max = 10;\nmsg.wait_time_ms    =global.get(\"minutes\");\n\nmsg.payload.step    = \"Recall Item\"\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":480,"wires":[["4664fbe2.59f754"]]},{"id":"ae510ea0.c3a4b","type":"function","z":"7556c719.7d1938","name":"Defective Item","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 1;\nmsg.wait_random_max = 10;\nmsg.wait_time_ms    =global.get(\"minutes\");\n\nmsg.payload.step    = \"Defective Item\"\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":520,"wires":[["4664fbe2.59f754"]]},{"id":"e05ea43c.a09658","type":"function","z":"7556c719.7d1938","name":"Return to Customer","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 10;\nmsg.wait_random_max = 48;\nmsg.wait_time_ms    =global.get(\"hours\");\n\nmsg.payload.step    = \"Return to Customer\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":440,"wires":[["292f3512.bf900a"]]},{"id":"3079b915.5d1be6","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":850,"y":440,"wires":[["e05ea43c.a09658"]]},{"id":"292f3512.bf900a","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":1330,"y":440,"wires":[["d79c5203.774f1"]]},{"id":"4664fbe2.59f754","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":850,"y":500,"wires":[["85073416.2e8898"]]},{"id":"85073416.2e8898","type":"function","z":"7556c719.7d1938","name":"Repair Item","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 10;\nmsg.wait_random_max = 48;\nmsg.wait_time_ms    =global.get(\"hours\");\n\nmsg.payload.step    = \"Repair Item\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":500,"wires":[["9a166c3d.6749c"]]},{"id":"fc1d38c8.dd2df8","type":"function","z":"7556c719.7d1938","name":"Return to Vendor","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 10;\nmsg.wait_random_max = 48;\nmsg.wait_time_ms    =global.get(\"hours\");\n\nmsg.payload.step    = \"Return to Vendor\"\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":820,"wires":[["3c6e2d6.f8170d2"]]},{"id":"9a166c3d.6749c","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":1250,"y":500,"wires":[["cbd45dc9.50426"]]},{"id":"cbd45dc9.50426","type":"function","z":"7556c719.7d1938","name":"can we fix it?","func":"var a = generateRandomNumber(1,100);\n\nmsg.switch = \"fix\";\nif (a > 95)\n    msg.switch = \"destroy\";\n    else if(a > 80)\n        msg.switch = \"parts\";\n        else if(a > 65)\n            msg.switch = \"toOEM\";\n\nreturn msg;\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value);\n}\n","outputs":1,"noerr":0,"x":410,"y":700,"wires":[["4f07dc44.1b8bc4"]]},{"id":"4f07dc44.1b8bc4","type":"switch","z":"7556c719.7d1938","name":"fixed?","property":"switch","propertyType":"msg","rules":[{"t":"eq","v":"fix","vt":"str"},{"t":"eq","v":"destroy","vt":"str"},{"t":"eq","v":"parts","vt":"str"},{"t":"eq","v":"liquidate","vt":"str"},{"t":"eq","v":"toOEM","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":590,"y":700,"wires":[["db26106.f3beef"],["76bd954a.f5176c"],["5d1226c2.4b8278"],["b542b124.68883"],["fc1d38c8.dd2df8"]]},{"id":"46298bf5.d38694","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":1270,"y":560,"wires":[["d79c5203.774f1"]]},{"id":"db26106.f3beef","type":"function","z":"7556c719.7d1938","name":"Fixed","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 10;\nmsg.wait_random_max = 48;\nmsg.wait_time_ms    =global.get(\"hours\");\n\nmsg.payload.step    = \"Fixed\"\n\n\nvar a = generateRandomNumber(1,100);\nmsg.switch = \"to customer\";\nif (a > 70)\n    msg.switch = \"restock\";\n\nreturn msg;\n\nfunction generateRandomNumber(min_value , max_value) \n{\n    return Math.floor(Math.random() * (max_value-min_value) + min_value);\n}\n","outputs":1,"noerr":0,"x":790,"y":660,"wires":[["42234c04.3431e4"]]},{"id":"76bd954a.f5176c","type":"function","z":"7556c719.7d1938","name":"Destoyed","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 10;\nmsg.wait_random_max = 48;\nmsg.wait_time_ms    =global.get(\"hours\");\n\nmsg.payload.step    = \"Destroyed\"\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":700,"wires":[["3c6e2d6.f8170d2"]]},{"id":"5d1226c2.4b8278","type":"function","z":"7556c719.7d1938","name":"Used for Parts","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 10;\nmsg.wait_random_max = 48;\nmsg.wait_time_ms    =global.get(\"hours\");\n\nmsg.payload.step    = \"Used for Parts\"\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":740,"wires":[["3c6e2d6.f8170d2"]]},{"id":"b542b124.68883","type":"function","z":"7556c719.7d1938","name":"Liquidated","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 10;\nmsg.wait_random_max = 48;\nmsg.wait_time_ms    =global.get(\"hours\");\n\nmsg.payload.step    = \"Liquidated\"\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":780,"wires":[["3c6e2d6.f8170d2"]]},{"id":"3c6e2d6.f8170d2","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":1090,"y":740,"wires":[["d79c5203.774f1"]]},{"id":"d79c5203.774f1","type":"function","z":"7556c719.7d1938","name":"End","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":500,"wires":[["53dc60f0.4d3b4"]]},{"id":"b18f7edb.34062","type":"function","z":"7556c719.7d1938","name":"Customer Sat","func":"// Each step in the process should set these variables:\nmsg.wait_random_min = 1;\nmsg.wait_random_max = 10;\nmsg.wait_time_ms    =global.get(\"minutes\");\n\nmsg.payload.step    = \"Customer Sat\"\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":560,"wires":[["b6294eb8.ac491"]]},{"id":"b6294eb8.ac491","type":"subflow:9e99bcab.ddbf6","z":"7556c719.7d1938","name":"","x":850,"y":560,"wires":[["f674f40d.04ca38"]]},{"id":"e2801163.c7b35","type":"switch","z":"7556c719.7d1938","name":"Rejected?","property":"payload.return_status","propertyType":"msg","rules":[{"t":"eq","v":"Return Rejected","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":220,"y":440,"wires":[["8e3a2ac6.51bb08"],["4e9f071.64f75f8"]]},{"id":"1dfc9445.8a8bdc","type":"switch","z":"7556c719.7d1938","name":"return or restock?","property":"switch","propertyType":"msg","rules":[{"t":"eq","v":"restock","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1150,"y":660,"wires":[["f674f40d.04ca38"],["e05ea43c.a09658"]]}]